<section class="row" ng-init="vm.init()">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#waitingReviews" role="tab" data-toggle="tab">Waiting Reviews</a>
        </li>
        <li role="presentation">
            <a href="#reportedReviews" role="tab" data-toggle="tab">Reported Reviews</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="waitingReviews">
            <div ng-repeat="data in reviews ">
                <button style="width: 100%" data-toggle="collapse" data-target="#{{data.reviews._id}}">
                    <p>Công ty:{{data.name}}</p>
                    <p>title: {{data.reviews.title}}</p>
                </button>
                <div id="{{data.reviews._id}}" class="collapse">
                    <div class="row">
                        <div class="col-sm-4">
                            <img style="width: 100px;" ng-src="{{data.avatar}}"></img>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="modal-title"><a ui-sref="companies.view({companyId: data._id})">{{data.name}}</a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="text-left ">Title:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.title"></h5>
                        <h4 class="text-left ">job:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.job"></h5>
                        <h4 class="text-left ">isJobCurrent:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.isJobCurrent"></h5>
                        <h4 class="text-left ">jobLength:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.jobLength"></h5>
                        <h4 class="text-left ">contract:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.contract"></h5>
                        <h4 class="text-left ">pros:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.overallRev.pros"></h5>
                        <h4 class="text-left ">cons:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.overallRev.cons"></h5>
                        <h4 class="text-left ">supplement:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.overallRev.supplement"></h5>
                        <h4 class="text-left ">rating:</h4>
                        <div class="row">
                            <fieldset class="rating" style="margin-left:50px">
                                <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="5" />
                                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="4" />
                                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="3" />
                                <label class="full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="2" />
                                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="1" />
                                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                {{data.reviews.overallRev.rating}}/5
                            </fieldset>
                        </div>
                        <h4 class="text-left ">basePay:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.basePay"></h5>
                        <h4 class="text-left ">payRaise:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.payRaise"></h5>
                        <h4 class="text-left ">cashBonus:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.cashBonus"></h5>
                        <h4 class="text-left ">profitSharing:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.profitSharing"></h5>
                        <h4 class="text-left ">healthRating:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.healthRating"></h5>
                        <h4 class="text-left ">opportunityRating:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.opportunityRating"></h5>
                        <h4 class="text-left ">parentalLeaveRating:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.parentalLeaveRating"></h5>
                        <h4 class="text-left ">timeOffRating:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.timeOffRating"></h5>
                        <h4 class="text-left ">pensionRating:</h4>
                        <h5 class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.pensionRating"></h5>
                    </div>
                    
                    <button type="button" class="btn btn-primary" ng-click="vm.denieModal(data)">Đ duyệt</button>

                    <button type="button" class="btn btn-default" ng-click="vm.approveModal(data)">Duyệt</button>
                    
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="reportedReviews">
            <div ng-repeat="data in reportedReviews ">
                <button style="width: 100%" data-toggle="collapse" data-target="#{{data.reviews._id}}">
                    <p>Công ty:{{data.name}}</p>
                    <p>title: {{data.reviews.title}}</p>
                    <span class="badge">Chưa xử lý: {{filteredReport.length}}</span>
                    <div ng-repeat="report in data.reviews.reports | filter: { isConsidered: false } as filteredReport"></div>
                </button>
                <div id="{{data.reviews._id}}" class="collapse">
                    <h3>Các lý do:</h3>
                    <div class="row">
                        <div ng-repeat="report in data.reviews.reports | filter: {isConsidered: false}">
                            <div style="border: solid 1px black; margin-bottom: 10px">
                                <p><a ui-sref="user({userId: report.user})">User:{{report.user}}</a></p>
                                <p>Content:{{report.content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img style="width: 100px;" ng-src="{{data.avatar}}">
                        </div>
                        <div class="col-sm-8">
                            <h4 class="modal-title"><a ui-sref="companies.review({reviewId: data.reviews._id})">{{data.reviews.title}}</a></h4>
                        </div>
                    </div>
                    <p>title: {{data.reviews.title}}</p>
                    <p>Ưu điểm: {{data.reviews.overallRev.pros}}</p>
                    <p>Nhược điểm: {{data.reviews.overallRev.cons}}</p>
                    <p>Điểm đánh giá: {{data.reviews.overallRev.rating}}</p>
                    <p>Số comment: {{data.reviews.comments.length}}</p>
                    <p>Lượt ủng hộ: {{data.reviews.upvoteUsers.length}}</p>
                    <button type="button" class="btn btn-default" ng-click="vm.rejectModal(data)">Đánh dấu tất cả report là đã xử lý nhưng ko khóa bài</button>
                    
                    <button type="button" class="btn btn-primary" ng-click="vm.acceptModal(data)">Khóa bài, báo cho user và đánh dấu tất cả report là đã xử lý</button>
                </div>
            </div>
        </div>
    </div>
</section>
