<section>
    <div class="page-header">
        <div class="row">
                <h2>Tổng số: {{vm.companies.length}} Công ty với {{vm.totalreview}} bài đánh giá</h2>
        </div>
    </div>
    <div class="row" style="">
        Hiển thị :
        <select ng-model="vm.ItemsPerPage" class="show-itemsPerPage" style="width:70px;height:25px;color:black">
            <option style="color:black" value="10">10</option>
            <option style="color:black" value="20">20</option>
            <option style="color:black" value="30">30</option>
        </select>
        <input type="search" ng-model="vm.keyword" style="" placeholder=" Tìm theo tên...">
    </div>
    <table class="table table-striped">
        <thead>
            <tr style="color:white;font-weight:bold;background-color:#09ba5e;">
                <th class="col-sm-3" ng-click="vm.sort('name')">Tên công ty <span class="glyphicon sort-icon" ng-show="vm.sortKey=='name'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th class="col-sm-3" ng-click="vm.sort('alias')">Tên gọi khác <span class="glyphicon sort-icon" ng-show="vm.sortKey=='alias'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th class="col-sm-1" ng-click="vm.sort('numOfReviews')">Số bài đánh giá <span class="glyphicon sort-icon" ng-show="vm.sortKey=='numOfReviews'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th class="col-sm-1" ng-click="vm.sort('overallRating')">Điểm xếp hạng <span class="glyphicon sort-icon" ng-show="vm.sortKey=='overallRating'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th class="col-sm-2" ng-click="vm.sort('website')">Website <span class="glyphicon sort-icon" ng-show="vm.sortKey=='website'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th class="col-sm-2" ng-click="vm.sort('contact')">Liên Hệ <span class="glyphicon sort-icon" ng-show="vm.sortKey=='contact'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                
            </tr>
        </thead>
    </table>
    <div dir-paginate="company in vm.companies | orderBy:vm.sortKey:!vm.reverse | itemsPerPage:vm.ItemsPerPage | filter: {name: vm.keyword}">
        <table class="table table-striped">
            <tbody>
                <tr style="color:black">
                    <td class="col-sm-3" style="font-weight:bold;border-right:solid 1px;border-color:lightgrey"><a ui-sref="companies.view({companyId: company._id})" style="color:black">{{company.name}}</a></td>
                    <td class="col-sm-3" style="border-right:solid 1px;border-color:lightgrey"> <span ng-repeat="alias in company.alias" class="badge"> {{alias}}</span></td>
                    <td class="col-sm-1" style="font-weight:bold;border-right:solid 1px;border-color:lightgrey"><a style="color:black" >{{company.numOfReviews}}</a></td>
                    <td class="col-sm-1" style="border-right:solid 1px;border-color:lightgrey"> {{company.overallRating | number:2}}</td>
                    <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{company.website}}</td>
                    <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{company.contact}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row pull-right" style="font-size:10px;margin-right:10px">
        <dir-pagination-controls max-size="4" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>
</section>
