<!-- <section>
    <div class="row" style="margin-top:20px">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="background-color:white;border:solid 1px; border-color:lightgrey">
            <div class="row">
                <h3 style="margin-left:20px;color:grey">Thông tin chi tiết tài khoản</h3>
            </div>
            <div class="row">
                <div class="col-sm-4" style="margin-top:20px;margin-bottom:20px">
                    <img ng-src="{{vm.user.profileImageURL? vm.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" style="width: 250px; vertical-align: center">
                </div>
                <div class="col-sm-8 " style="margin-top:20px">
                    <b>Email đăng nhập:<h5 style="color:grey"  data-ng-bind="vm.user.email"></h5></b>
                    <b>Tên hiển thị:</b><h5 style="color:grey" data-ng-bind="vm.user.name"></h5>
                    <b>Quyền hạn: <h5><span ng-repeat="role in vm.user.roles" class="badge">{{role}}</span></h5></b>
                    <b>Tình trạng tài khoản:<h5  style="color:grey" data-ng-bind="vm.user.accState"></h5></b>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
        <b>Giới thiệu:<h5  style="color:grey" data-ng-bind="vm.user.description"></h5></b>
    </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    
</section>
 -->
 <section>
    <div class="row" style="margin-top:20px">
     
          <div class="col-sm-1">
    
  </div>
   <h5 style="color:grey;" >Company rating website</h5>
  <div class="col-sm-12" style="background-color:white;border:solid 2px;border-color:lightgrey;height:450px" >
      <div class="row">
        <h5 style="margin-left:50px;font-weight:bold;color:black;margin-top:20px">Thông tin chi tiết tài khoản</h5>
        <div class="row">
            <div class="col-sm-3" style="margin-top:20px;margin-bottom:20px;margin-left:50px">
                <img ng-src="{{vm.user.profileImageURL? vm.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" style="width: 250px; vertical-align: center">
            </div>
            <div class="col-sm-5" style="margin-top:20px;">
                   <b>Email đăng nhập:<h5 style="color:grey"  data-ng-bind="vm.user.email"></h5></b>
                    <b>Tên hiển thị:</b><h5 style="color:grey" data-ng-bind="vm.user.name"></h5>
                    <b>Quyền hạn: <h5><span ng-repeat="role in vm.user.roles" class="badge">{{role}}</span></h5></b>
                    <b>Tình trạng tài khoản: <h5 style="color:grey"><span ng-show="vm.user.accState==='active'">Hoạt động</span><span ng-show="vm.user.accState==='deactive'">Bị khóa</span><span ng-show="vm.user.accState==='unverified'">Chưa kích hoạt</span></h5></b>

            </div>

        </div>
        <div class="row" style="margin-left:50px">
             <b>Giới thiệu:<h5  style="color:grey" data-ng-bind="vm.user.description"></h5></b>
        </div>
      </div>
    </div>
    
</section>
