<section>
    <div class="row" style="margin-top:20px">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="background-color:white;border:solid 1px; border-color:lightgrey">
            <div class="row">
                <h3 style="margin-left:20px;color:grey">Thông tin chi tiết tài khoản</h3>
            </div>
            <div class="row">
                <div class="col-sm-4" style="margin-top:20px;margin-bottom:20px">
                    <img ng-src="{{vm.user.profileImageURL? vm.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" style="width: 250px; vertical-align: center">
                </div>
                <div class="col-sm-8 " style="margin-top:20px">
                    <b>Email đăng nhập:<h4 style="color:grey"  data-ng-bind="vm.user.email"></h4></b>
                    <b>Tên hiển thị:</b><h4 style="color:grey" data-ng-bind="vm.user.name"></h4>
                    <b>Quyền hạn: <h4><span ng-repeat="role in vm.user.roles" class="badge">{{role}}</span></h4></b>
                    <b>Tình trạng tài khoản:<h4  style="color:grey" data-ng-bind="vm.user.accState"></h4></b>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
        <b>Giới thiệu:<h4  style="color:grey" data-ng-bind="vm.user.description"></h4></b>
    </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    
</section>
