<section>
    <div class="row" style="margin-top:20px">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="background-color:white;border:solid 1px; border-color:lightgrey">
            <div class="row">
                <h3 style="margin-left:20px;color:grey">Thông tin chi tiết tài khoản</h3>
            </div>
            <div class="row">
                <div class="col-sm-4" style="margin-top:20px;margin-bottom:20px">
                    <img ng-src="{{vm.user.profileImageURL? vm.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" style="width: 250px; vertical-align: center">
                </div>
                <div class="col-sm-8" style="margin-top:20px">
                    <b>Tài khoản:</b>
                    <h4 style="color:grey" data-ng-bind="vm.user.name"></h4>
                    <b>Quyền hạn:<h4 style="color:grey"><span ng-repeat="role in vm.user.roles" class="badge" style="background-color:#079696"> {{role}}</span></h4></b>
                    <b>Địa chỉ Email:<h4 style="color:grey" data-ng-bind="vm.user.email"></h4></b>
                    <b>Tình trạng tài khoản:<h4 style="color:grey"><span ng-show="vm.user.accState==='active'">Hoạt động</span><span ng-show="vm.user.accState==='deactive'">Bị khóa</span><span ng-show="vm.user.accState==='unverified'">Chưa kích hoạt</span></h4></b>
                </div>
            </div>
            <div class="row" style="margin-left:10px;margin-bottom:20px" ng-show="vm.authentication.user.roles.indexOf('admin')>=0">
                <button class="btn btn-warning" ng-show="vm.user.accState === 'active'" ng-click="vm.deactive()">Khóa</button>
                <button class="btn btn-success" ng-hide="vm.user.accState === 'active'" ng-click="vm.active()">Mở khóa</button>

                <button class="btn btn-info" ng-show="vm.user.roles.indexOf('mod')<0" ng-click="vm.promoteMod()">Đề nghị Moderator</button>
                <button class="btn btn-warning" ng-hide="vm.user.roles.indexOf('mod')<0" ng-click="vm.demoteMod()">Hủy Moderator</button>
            </div>
            <div class="row">
                <h3 style="margin-left:20px;color:grey">Đánh giá đã viết</h3>
                <div ng-repeat="data in vm.postedReviews" style="margin-left:10px;margin-right:10px;">
                    <div style="border: solid 1px lightgrey; margin-bottom: 10px">
                        <div class="" style="margin-left:20px;margin-right:20px;margin-top:20px;margin-bottom:20px">
                            <p><b>Công ty: <a ui-sref="companies.view({companyId: data._id})">{{data.name}}</a></p>
                        <p><b>Chủ đề:</b> <a ui-sref="companies.review({companyId: data._id, reviewId: data.reviews._id})">{{data.reviews.title}}</a></p>
                            <p><b>Điểm đánh giá:</b> {{data.reviews.overallRev.rating}}</p>
                            <p><b>Số bình luận:</b> {{data.reviews.comments.length}}</p>
                            <p><b>Lượt ủng hộ:</b> {{data.reviews.upvoteUsers.length}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</section>
