<section>
    <div style="width: 250px; height: 250px; display:table-cell; vertical-align:middle; border: solid 1px black">
    <img ng-src="{{vm.user.profileImageURL? vm.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" style="width: 250px; vertical-align: center">
    </div>
    <h4 data-ng-bind="vm.user.name"></h4>
    <h4 data-ng-bind="vm.user.roles"></h4>
    <h4 data-ng-bind="vm.user.email"></h4>
    <h4 data-ng-bind="vm.user.accState"></h4>
    <button ng-show="(vm.authentication.user.roles.indexOf('admin')>0 && vm.user.accState === 'active')" ng-click="vm.deactive()">Ban</button>
    <button ng-hide="(vm.authentication.user.roles.indexOf('admin')>0 && vm.user.accState === 'active')" ng-click="vm.active()">Unban</button>
    <button ng-show="(vm.authentication.user.roles.indexOf('admin')>0 && vm.user.roles.indexOf('mod')<0)" ng-click="vm.promoteMod()">Promote Moderator</button>
    <button ng-show="(vm.authentication.user.roles.indexOf('admin')>0 && vm.user.roles.indexOf('mod')>0)" ng-click="vm.demoteMod()">Demote Moderator</button>
    <h3>Posted Review:</h3>
    <div ng-repeat="data in vm.postedReviews">
        <div style="border: solid 1px black; margin-bottom: 10px">
            <p>Công ty: <a ui-sref="companies.view({companyId: data._id})">{{data.name}}</a></p>
            <p>title: <a ui-sref="companies.review({reviewId: data.reviews._id})">{{data.reviews.title}}</a></p>
            <p>Điểm đánh giá: {{data.reviews.overallRev.rating}}</p>
            <p>Số comment: {{data.reviews.comments.length}}</p>
            <p>Lượt ủng hộ: {{data.reviews.upvoteUsers.length}}</p>
        </div>
    </div>
</section>
