<style type="text/css">
    .thumbnail {
      padding:0;
    }
    a:link {text-decoration: none;}
    a:visited {text-decoration: none;}
  </style>
<div class="about">
	    <div class="container-fluid">
		 <div class="row">
		   <div class="col-sm-7 company-name">
		           <h3>Company rating website</h3>
		   </div>
		   <div class="col-sm-5 company-infor">
		     <a ui-sref="home" class="home-tt">Trang chủ</a>
		     <a class="home-tt" ui-sref="" data-toggle="modal" data-target="#aboutme" >Về chúng tôi</a>
		     <div id="aboutme" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Về chúng tôi</h4>
				      </div>
				      <div class="modal-body">
				        <div class="row">
				        	<div class="col-sm-6">
				        		
				        		<!-- <video controls="controls">
								<source src="modules/companies/client/img/intro.avi" type="video/avi">
							
								</video> -->
								Trang web Companyrating.xzy được tạo ra bởis 5 thành viên
				        	</div>
				        	<div class="col-sm-6">
				        		
				        	</div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
		     <a class="home-tt" ui-sref="" data-toggle="modal" data-target="#help">Giúp đỡ</a>
		      <div id="help" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Modal Header</h4>
				      </div>
				      <div class="modal-body">
				        <p>Some text in the modal.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>

		     <a class="home-tt" ui-sref="" data-toggle="modal" data-target="#contact">Liên hệ</a>
		      <div id="contact" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Modal Header</h4>
				      </div>
				      <div class="modal-body">
				        <p>Some text in the modal.</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
		   </div>
		 </div>
		</div>
</div>

</body>
</html>
