<style type="text/css">
    .thumbnail {
      padding:0;
    }
    a:link {text-decoration: none;}
    a:visited {text-decoration: none;}
  </style>
<div class="about">
	    <div class="container-fluid">
		 <div class="row">
		   <div class="col-sm-7 company-name">
		           <h3>CRW-Company Rating Website</h3>
		   </div>
		   <div class="col-sm-5 company-infor">
		     <a ui-sref="home">Trang chủ</a>
		     <a ui-sref="">Về chúng tôi</a>
		     <a ui-sref="">Giúp đỡ</a>
		     <a ui-sref="">Liên hệ</a>
		   </div>
		 </div>
		</div>
</div>

</body>
</html>
