<div class="container" style="word-spacing:normal;font-family: Roboto-Regular" ng-controller="HeaderController" >
<div class="row">

  <div class="col-sm-3" style="padding-right: 0px;margin-left:50px;">
    <div class="navbar-logo"> 
      <a ui-sref="home" class="navbar-company" style="    background: #00b506 -webkit-gradient(linear, left top, right top,
         from(white), to(#00b506), color-stop(0.5, white)) 0 0 no-repeat;
         color: rgba(255, 255, 255, 0.1);
        position: relative;
 
         -webkit-animation: shine 2s infinite;
        -webkit-background-clip: text;
         -webkit-background-size: 300px;">
      <img src="modules/users/client/img/logo2.png" style="width:54px;height:44px">
     <b style="padding-right:10px">Company rating website</b></a>
       
    </div>
  </div>

  <div class="col-sm-8">
   
    <div class="pull-right">
          <ul class="nav navbar-nav" ng-hide="authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="authentication.signin" class="signin">
                <span class="glyphicon glyphicon-log-in"></span>
                <b id="c-name" style="font-size:10px"> ĐĂNG NHẬP</b>
              </a>
            </li>
          </ul>
     </div>
      
       <div class="pull-right navbar-account">

      <ul class="nav" ng-show="authentication.user">
    
      <li class="dropdown" dropdown>
      <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.name}}" class="header-profile-image  img-circle"  />
          <span ng-bind="authentication.user.name" class="navbar-name"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" ng-init="userInit()">
          
          <li ui-sref-active="active">
           <h6 style="width:180px"><a style="color:grey;margin-left:30px" ui-sref="settings.accountInfo">Quản trị tài khoản </a></h6>
          </li>
          <li class="divider"></li>
         
     
          <li>
            <h6 style="width:180px;"><a style="margin-left:30px;color:grey" href="/api/auth/signout" target="_self">Đăng xuất</h6></a>
          </li>
        </ul>
      </li>
    </ul>
    </div> 
     
     <div class="pull-right">
       <h6 style="margin-top:30px;color: #079696;margin-right:10px;" ></h6>
     </div>
   
        <div class="pull-right" ng-show="authentication.user.roles.indexOf('mod')>=0">
         <a a ui-sref="settings.reviews" ><span class="glyphicon glyphicon-time" style="font-size:17px;margin-top:17px;color:white" data-toggle="tooltip" data-placement="bottom" title="Bài đăng chờ/Báo cáo vi phạm"></span></a>
            <span ng-show="(wtgrvNotif+rptrvNotif)>0" class="badge badge-notify" style="background-color:red" >{{wtgrvNotif + rptrvNotif}}</span>
      </div>
    <div class="pull-right">
       <h6 style="margin-top:30px;color: #079696;margin-right:15px;"></h6>
     </div>
    
   <div class="pull-right" ng-show="authentication.user">
          
            <a a ui-sref="settings.announcement"><span class="glyphicon glyphicon-bell" style="font-size:17px;margin-top:18px;color:white" data-toggle="tooltip" data-placement="bottom" title="Thông báo"></span></a>
            <span ng-show="(unseenAnnouce)>0" class="badge badge-notify" style="background-color:red" >{{unseenAnnouce}}</span>

           
      </div>
       <div class="pull-right navbar-company-home" >
       <li ><a class="link-company" ui-sref="home" style="color:white">
        <span class="glyphicon glyphicon-home"></span><b  > TRANG CHỦ</b>
      </a></li>
      </div>
    <div class="pull-right navbar-company-link" >
       <li><a class="link-company" href="companies/search/">
        <span class="glyphicon glyphicon-calendar "></span><b style="color:white"> CÔNG TY</b>
      </a></li>

    </div>
    <div class="pull-right">
      <div id="searchs" style="margin-right:20px;">

      <form method="GET">

        <fieldset class="clearfix">

          <input class="input-search" type="search" name="search" value="Nhập công ty..." onBlur="if(this.value=='')this.value='Nhập công ty...'" onFocus="if(this.value=='Nhập công ty...')this.value='' " style="margin-top:5px;font-size:12px;" ng-keypress="enterToSearch($event)" ng-model="keyword" required placeholder="Nhập công ty..."> <!-- JS because of IE support; better: placeholder="What are you looking for?" -->
          <input type="submit" value="Tìm kiếm" class="button" style="margin-top:5px;font-size:11px;" ui-sref="companies.search({keyword: keyword})">

        </fieldset>

      </form>

    </div> <!-- end search -->
    </div>

    
   
  </div>

</div>

</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>