
<div class="container" style="word-spacing:normal" ng-controller="HeaderController" >
<div class="row">
  <div class="col-sm-2" style="padding-right: 0px">
    <div class="navbar-logo">
        <a ui-sref="home" class="navbar-company" style="    background: #00b506 -webkit-gradient(linear, left top, right top,
         from(white), to(#00b506), color-stop(0.5, white)) 0 0 no-repeat;
         color: rgba(255, 255, 255, 0.1);
        position: relative;
 
         -webkit-animation: shine 2s infinite;
        -webkit-background-clip: text;
         -webkit-background-size: 300px;">Company<h5 class="navbar-rating">Rating website</h5></a>
       
    </div>
  </div>
  <div class="col-sm-4 pull-left">
    <h4 class="important-navbar">Kết nối nghề nghiệp</h4>
  </div>
  <div class="col-sm-6">
   
    <div class="pull-right">
          <ul class="nav navbar-nav" ng-hide="authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="authentication.signin" class="signin">
                <span class="glyphicon glyphicon-log-in"></span>
                <b id="c-name"> ĐĂNG NHẬP</b>
              </a>
            </li>
          </ul>
     </div>
      
       <div class="pull-right navbar-account">

      <ul class="nav" ng-show="authentication.user">
    
      <li class="dropdown" dropdown>
      <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.name}}" class="header-profile-image  img-circle"  />
          <span ng-bind="authentication.user.name" class="navbar-name"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" ng-init="userInit()">
          <li ui-sref-active="active" ng-hide="(authentication.user.roles.indexOf('mod')<0)">
            <a ui-sref="settings.reviews">Bài đang đợi duyệt <span class="badge"> {{waitingReviews}}</span></a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.announcement">Thông báo <span class="badge">{{unseenAnnouce}}</span></a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Thay đổi thông tin cá nhân</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Đổi ảnh đại diện</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Đổi mật khẩu</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Quản lý các tài khoản mạng xã hội</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Đăng xuất</a>
          </li>
        </ul>
      </li>
    </ul>
    </div> 

       <div class="pull-right navbar-company-home">
       <li><a ui-sref="home">
        <span class="glyphicon glyphicon-home"></span><b class="b-home"> TRANG CHỦ</b>
      </a></li>
      </div>
    <div class="pull-right navbar-company-link" >
       <li><a href="companies/search/">
        <span class="glyphicon glyphicon-calendar"></span><b class="b-company"> CÔNG TY</b>
      </a></li>

    </div>

    
   
  </div>

</div>

</div>
