<section ng-controller="HomeController">
<div class="Carousel">
  <div class="row">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" >          
              <div class="item active">
                  <img src="modules/core/client/img/loaders/Company8.jpg" alt="Company8" style="width:100%; -webkit-filter: blur(0.5px); /* Chrome, Safari, Opera */ filter: blur(5px);">
                <div class="carousel-caption">
                    <div class="search">
                         <img src="modules/users/client/img/home1.png" style="margin-top:30px;color:white">
                         <h4 style="font-size:21px">Bạn muốn tìm môi trường làm việc phù hợp hơn với mình?</h4>
                         <h4 style="font-size:21px"> Xem nhân viên ở những công ty hàng đầu chia sẻ ra sao</h4>
                         <div id="searchs">
                           <form>
                             <fieldset class="clearfix">

                              <input class="input-search" type="search" name="search" value="Nhập công ty..." onBlur="if(this.value=='')this.value='Nhập công ty...'" onFocus="if(this.value=='Nhập công ty...')this.value='' " style="margin-top:5px;font-size:12px;" ng-keypress="enterToSearch($event)" ng-model="keyword" required placeholder="Nhập công ty..."> <!-- JS because of IE support; better: placeholder="What are you looking for?" -->
                              <input type="submit" value="Tìm kiếm" class="button" style="margin-top:5px;font-size:11px;" ui-sref="companies.search({keyword: keyword})">

                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
               </div>

              <div class="item ">
                  <img src="modules/core/client/img/loaders/Company9.jpg" alt="Company9" style="width:100%; -webkit-filter: blur(0.5px); /* Chrome, Safari, Opera */
    filter: blur(5px);">
                <div class="carousel-caption">
                     <div class="search">
                         <img src="modules/users/client/img/home2.png" style="margin-top:30px;color:white">
                         <h4 style="font-size:21px">Bạn thấy mức lương và chế độ đãi ngộ đang hưởng là không xứng đáng?</br> Xem các đồng nghiệp ở cùng vị trí chia sẻ mức lương và đãi ngộ của họ</h4>
                          <div id="searchs">
                           <form>
                             <fieldset class="clearfix">

                              <input class="input-search" type="search" name="search" value="Nhập công ty..." onBlur="if(this.value=='')this.value='Nhập công ty...'" onFocus="if(this.value=='Nhập công ty...')this.value='' " style="margin-top:5px;font-size:12px;" ng-keypress="enterToSearch($event)" ng-model="keyword" required placeholder="Nhập công ty..."> <!-- JS because of IE support; better: placeholder="What are you looking for?" -->
                              <input type="submit" value="Tìm kiếm" class="button" style="margin-top:5px;font-size:11px;" ui-sref="companies.search({keyword: keyword})">

                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
               </div>

              <div class="item ">
                  <img src="modules/core/client/img/loaders/Company11.jpg" alt="Company11" style="width:100%; -webkit-filter: blur(0.5px); /* Chrome, Safari, Opera */
    filter: blur(5px);">
                <div class="carousel-caption">
                     <div class="search">
                         <img src="modules/users/client/img/home3.png" style="margin-top:30px;color:white">
                         <h4 style="font-size:21px">Xem đánh giá về công ty từ  những nhân viên đã và đang làm việc để có cái nhìn khách quan nhất.</h4>
                         <div id="searchs">
                           <form>
                             <fieldset class="clearfix">

                              <input class="input-search" type="search" name="search" value="Nhập công ty..." onBlur="if(this.value=='')this.value='Nhập công ty...'" onFocus="if(this.value=='Nhập công ty...')this.value='' " style="margin-top:5px;font-size:12px;" ng-keypress="enterToSearch($event)" ng-model="keyword" required placeholder="Nhập công ty..."> <!-- JS because of IE support; better: placeholder="What are you looking for?" -->
                              <input type="submit" value="Tìm kiếm" class="button" style="margin-top:5px;font-size:11px;" ui-sref="companies.search({keyword: keyword})">

                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
               </div>

            </div>
           
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-menu-left rotate360"  style="margin-top:280px;font-size:50px;color: white; "></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-menu-right rotate360"  style="margin-top:280px;font-size:50px;color: white; "></span>
            </a>
       </div>
  </div>
</div>



</section> 
