<section style="font-family: Roboto-Regular">
   <div class="container" style="overflow:hidden">
      <div class="row add-company-new">
      </div>
      <form name="vm.form.companyForm" class="form-horizontal" ng-submit="edit(vm.form.companyForm.$valid)" novalidate>
         <fieldset>
            <div class="row">
               <div class="col-sm-2">
               </div>
               <div class="col-sm-8 " style="padding-right:120px">
                  <div class="row">
                     <h4 style="font-weight:bold;color:black">Chỉnh sửa công ty</h4>
                  </div>
                  <div class="col-sm-5">
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Trạng thái</span>:</h5>
                          <input type="radio" name="status" ng-model="vm.company.state" value="approved" ><span style="color:green"> Hoạt động<span><br>
                          <input  type="radio" name="status" ng-model="vm.company.state" value="denied"> <span style="color:red">Khóa</span><br>
                           
                        </div>
                        <div class="form-group" show-errors>
                           <h5 class="congty">
                           Tên công ty<span style="color:#f24141">(*)</span>:</h5>
                           <input type="text" class="form-control" ng-model="vm.company.name" name="name" placeholder="Tên công ty..." required>
                           <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.name.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">Hãy nhập tên công ty.</p>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Tên gọi khác (Mỗi tên ngăn cách bởi dấu ','):</h5 class="congty">
                           <input name="alias" class="form-control" ng-model="vm.company.alias" ng-list ng-change="vm.displayAlias()" placeholder="Tên gọi khác...">
                           <div ng-repeat="alias in vm.alias">{{alias}} </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Liên hệ:</h5 class="congty">
                           <input type="text" class="form-control" ng-model="vm.company.contact" placeholder="Liên hệ ..." name="contact">
                        </div>
                        <strong ng-bind="error" class="error-company"></strong>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Quy mô nhân sự:</h5 class="congty">
                           <div class="row">
                              <div class="col-sm-6">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.personnelSize" value="Chưa rõ" name="personnelSize" ng-checked="true"> Chưa rõ thông tin</label> 
                              </div>
                              <div class="col-sm-6">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.personnelSize" value="Dưới 10 người" name="personnelSize"> Dưới 10 người</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-6">
                                 <label class="" s>
                                 <input type="radio" ng-model="vm.company.personnelSize" value="Từ 10 - 50 người" name="personnelSize"> Từ 10 - 50 người</label>
                              </div>
                              <div class="col-sm-6">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.personnelSize" value="> Từ 50 - 100 người" name="personnelSize"> Từ 50 - 100 người</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-6">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.personnelSize" value="Từ 100 - 200 người" name="personnelSize"> Từ 100 - 200 người</label>
                              </div>
                              <div class="col-sm-6">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.personnelSize" value="Từ 200 - 300 người" name="personnelSize"> Từ 200 - 300 người</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-6">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.personnelSize" value="Trên 300 người" name="personnelSize"> Trên 300 người</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group" show-errors>
                           <h5 class="congty">
                           Website công ty</h5 class="congty">
                           <input type="url" name="website" class="form-control" ng-model="vm.company.website" placeholder="Website...">
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Ảnh đại diện/logo công ty<span style="color:#f24141">(*)</span>: <span class="glyphicon glyphicon-camera btn-file" ng-hide="vm.uploader.queue.length" style="font-size:25px;margin-bottom:-5px">
                           <input type="file" nv-file-select uploader="vm.uploader">
                           </span></h5 class="congty">
                           <!-- <input type="text" name="avatar" class="form-control" ng-model="vm.company.avatar" placeholder="Ảnh đại diện..." name="avatar" required>
                              <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.avatar.$error" role="alert">
                                  <p class="help-block error-text" ng-message="required">Hãy nhập link ảnh đại diện.</p>
                              </div> -->
                           <div ng-show="(vm.avatarTemp)"><img ng-src="{{vm.avatarTemp}} " style="height:200px;width:220px;border:solid 1px; border-color:lightgrey"></div>
                           <div ng-show="vm.uploader.queue.length" style="margin-left:0px;margin-top:20px">
                                 <span style="font-size:25px;margin-right:20px" class="glyphicon glyphicon-remove" ng-click="vm.cancelUpload()"></span>
                                 <span style="font-size:25px;"  class="glyphicon glyphicon-ok" ng-click="vm.uploadPicture()"></span >
                           </div>
                        </div>

                        <div ng-show="(vm.company.avatar)"><img src="{{vm.company.avatar}} " style="height:200px;width:220px;border:solid 1px;border-color:lightgrey;margin-left:-15px"></div> 
                     </div>
                     <div class="row" style="">
                        <div class="form-group">
                           <h5 class="congty">
                           Giới thiệu - mô tả về công ty:</h5 class="congty">
                           <textarea class="form-control textarea-supplement" rows="4" ng-model="vm.company.description" name="description" placeholder="Mô tả..." style="background-color:white;overflow:hidden;color:black"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-5">
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Năm thành lập:</h5 class="congty">
                           <input style="background-color:white" type="text" class="form-control" datepicker-popup="yyyy" ng-model="vm.company.founded" is-open="vm.pickerOpened" datepicker-options="vm.dateOptions" ng-readonly="true" ng-focus="vm.openYearPicker($event)" ng-click="vm.openYearPicker($event)" show-button-bar="false" />
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Ngành nghề chính của công ty:</h5 class="congty">
                           <input type="text" class="form-control" ng-model="vm.company.industry" placeholder="Ngành nghề chính của công ty..." name="industry" required>
                           <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.industry.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">Hãy nhập ngành nghề chính của công ty.</p>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group" show-errors>
                           <h5 class="congty">
                           Trụ sở chính<span style="color:#f24141">(*)</span>:</h5 class="congty">
                           <input type="text" name="hq" class="form-control" ng-model="vm.company.hq" placeholder="Trụ sở chính của công ty..." required="">
                           <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.hq.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">Hãy nhập trụ sở công ty.</p>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group">
                           <h5 class="congty">
                           Loại hình công ty:</h5 class="congty">
                           <!--  
                              -->  
                           <div class="row">
                              <div class="col-sm-12">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.companyType" value="Doanh nghiệp có vốn đầu tư nước ngoài" name="companyType"> Doanh nghiệp có vốn đầu tư nước ngoài</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.companyType" value="Công ty TNHH" name="companyType" ng-checked="true"> Công ty TNHH </label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.companyType" value="Doanh nghiệp tư nhân" name="companyType"> Doanh nghiệp tư nhân</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.companyType" value="Công ty cổ phần" name="companyType"> Công ty cổ phần</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.companyType" value="Công ty hợp danh" name="companyType"> Công ty hợp danh</label>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <label class="">
                                 <input type="radio" ng-model="vm.company.companyType" value="Doanh nghiệp nhà nước" name="companyType"> Doanh nghiệp nhà nước</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row" style="margin-left:-30px;margin-right:-35px">
                        <h5 class="congty" >Ảnh giới thiệu công ty<span style="color:#f24141">(*)</span>: <span class="glyphicon glyphicon-camera btn-file" ng-hide="vm.photoUploader.queue.length" style="font-size:25px;margin-bottom:-5px" >
                           <input type="file" nv-file-select uploader="vm.photoUploader">
                           </span>
                        </h5 >
                        <h6 style="color:green">Bạn có thể thêm ảnh về công ty</h6>
                        <!-- <input type="text" placeholder="Nhập đường dẫn ảnh giới thiệu..." data-placement="bottom" ng-model="vm.introducePhoto">
                           <button type="button" ng-click="vm.addPhoto()" style="background-color:#0cb20c;color:white">Thêm ảnh</button> -->
                        <div ng-show="(vm.photoTemp)"><img ng-src="{{vm.photoTemp}} " style="height:100px;width:120px;border:solid 1px;border-color:lightgrey"></div>
                        <div ng-show="vm.photoUploader.queue.length" style="margin-top:10px">
                           <span style="font-size:25px;margin-right:20px" class="glyphicon glyphicon-remove" ng-click="vm.cancelPhotoUploader()"></span>
                           <span style="font-size:25px;" class="glyphicon glyphicon-ok" ng-click="vm.uploadPhoto()"></span>
                        </div>
                        <div class="row">
                           <div class="col-sm-4" ng-repeat="photo in vm.company.photo" style="">
                              <div>
                                 <img ng-src="{{photo}}" style="width:100px;height:80px;border:solid 1px;border-color:lightgrey;">
                                 <button type="button" ng-click="vm.deletePhoto($index)" style="background-color:#f24141;color:white">Xóa</button>
                              </div>
                           </div>
                        </div>
                       
                     </div>
                  </div>
               </div>
            </div>
             <strong style="font-size:13px;color:#079696;margin-left:180px" ng-show="vm.progress">{{vm.progress}}</strong>
            <div class="row">
               <hr class="text-left">
            </div>
            <div class="row" style="margin-bottom:20px">
               <div  class="text-center col-sm-6">
                  {{vm.error}}
               </div>
               <div class="col-sm-6">
                  <div class="col-sm-12">
                     <button type="button" class="btn btn-info button-cancelcompany" ng-click="close()"> Hủy</button>
                     <button style="margin-left:10px" type="submit" class="btn btn-primary button-sendcompany">Lưu chỉnh sửa</button>
                  </div>
               </div>
            </div>
         </fieldset>
      </form>
   </div>
</section>