<a ui-sref="companies.review({companyId: companyId, reviewId: review._id})" style="font-family: Roboto-Regular">
    <div class="row">
        <div class="col-sm-1 review-detail-left">
            <div class="row">
            </div>
            <div class="row text-center">
                <h6 class="date-review" data-ng-bind="review.lastUpdated | date:'mediumDate'"></h6>
            </div>
            <div class="row">
                <img ng-src="{{(review.userID.profileImageURL && !review.stayAnonymous) ? review.userID.profileImageURL : 'modules/users/client/img/profile/default.png'}}" class="content-avatar-review" >
                <!--    <img src="{{vm.company.avatar}}" alt="avatar" class="pull-left content-avatars"> -->
            </div>
              <div class="row text-center">
                <span style="font-size:80%;font-weight:bold" ng-show="review.userID.name && !review.stayAnonymous" data-ng-bind="review.userID.name" class="review-user"></span>
                <span style="font-size:80%;font-weight:bold" ng-hide="review.userID.name && !review.stayAnonymous" class="review-user">Anonymouse</span>
            </div>
            
        </div>
        <div class="col-sm-6 review-detail-right">
            <div class="row" style="margin-top:30px;margin-left:0px">
                 <span  class="text-left title-review" data-ng-bind="review.title" ng-class="{highlightReview: review.highlight}"></span>
            </div>
            <h6 style="color:black;font-size:14px">Tôi làm tại vị trí <span ng-repeat="job in review.job">{{job}} - </span>( <span ng-hide="(review.isJobCurrent)" > </span><span ng-show="(review.isJobCurrent)"> </span><span data-ng-bind="review.jobLength"></span>)</h6>
           <!--  <h6 style="color:black;font-weight:bold">Vị trí công việc:</h6>
            <h6 style="color:black;" class="text-left "><span ng-repeat="job in review.job">{{job}} - </span> </h6>
            <h6 style="color:black;font-weight:bold">Hiện đang làm việc:</h6>
            <h6 class="text-left" style="color:black"><span ng-hide="(review.isJobCurrent)" > Đã từng làm việc </span><span ng-show="(review.isJobCurrent)"> </span><span data-ng-bind="review.jobLength"></span></h6> -->
            <p style="color:black;font-weight:bold;font-size:14px">Ưu điểm:</p>
            <p class="text-left " style="color:black;font-size:14px"><span style="line-height:1.4em" data-ng-bind="review.overallRev.pros"></span> </p>
            <p style="color:black;font-weight:bold;font-size:14px">Nhược điểm:</p>
            <p class="text-left " style="color:black;font-size:14px"><span style="line-height:1.4em" data-ng-bind="review.overallRev.cons"></span> </p>
           
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <div class="row">
                    <fieldset class="rating" style="margin-left:50px;margin-top:30px;font-size:25px">
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="5" />
                        <label class="full" for="star5" title="Xuất sắc"></label>
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="4" />
                        <label class="full" for="star4" title="Rất tốt"></label>
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="3" />
                        <label class="full" for="star3" title="Tốt"></label>
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="2" />
                        <label class="full" for="star2" title="Bình thường"></label>
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="1" />
                        <label class="full" for="star1" title="Kém"></label>
                        <c style="color:#f24141;margin-left:65px">{{review.overallRev.rating}}.0</c>
                    </fieldset>
                </div>
                <h5 style="margin-left:110px;color:black"><b style="color:#079696 ;font-weight: bold; ">{{review.upvoteUsers.length}}</b> Lượt ủng hộ</h5>
            </div>
        </div>
    </div>
</a>