
<div class="container-fluid" style="word-spacing:normal" ng-controller="HeaderController">
<div class="row">
  <div class="col-sm-2" style="padding-right: 0px">
    <div class="navbar-logo">
        <a ui-sref="home" class="navbar-company" style="    background: #00b506 -webkit-gradient(linear, left top, right top,
         from(white), to(#00b506), color-stop(0.5, white)) 0 0 no-repeat;
         color: rgba(255, 255, 255, 0.1);
        position: relative;
 
         -webkit-animation: shine 2s infinite;
        -webkit-background-clip: text;
         -webkit-background-size: 300px;">Company<h4 class="navbar-rating">Rating website</h4></a>
       
    </div>
  </div>
  <div class="col-sm-4 pull-left">
    <h4 class="important-navbar">Kết nối nghề nghiệp {{test}}</h4>
  </div>
  <div class="col-sm-6">
   
    <div class="pull-right">
          <ul class="nav navbar-nav" ng-hide="authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="authentication.signin" class="signin">
                <span class="glyphicon glyphicon-log-in"></span>
                <b id="c-name"> ĐĂNG NHẬP</b>
              </a>
            </li>
          </ul>
     </div>
      
       <div class="pull-right navbar-account">

      <ul class="nav" ng-show="authentication.user">
    
      <li class="dropdown" dropdown>
      <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.name}}" class="header-profile-image  img-circle"  />
          <span ng-bind="authentication.user.name" class="navbar-name"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" ng-init="userInit()">
          <li ui-sref-active="active" ng-hide="(authentication.user.roles.indexOf('mod')<0)">
            <a ui-sref="settings.reviews">Bài đang đợi duyệt <span class="badge"> {{waitingReviews}}</span></a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.announcement">Thông báo <span class="badge">{{unseenAnnouce}}</span></a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Thay đổi thông tin cá nhân</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Đổi ảnh đại diện</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Đổi mật khẩu</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Quản lý các tài khoản mạng xã hội</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Đăng xuất</a>
          </li>
        </ul>
      </li>
    </ul>
    </div> 

       <div class="pull-right navbar-company-home">
       <li><a ui-sref="home">
        <span class="glyphicon glyphicon-home"></span><b class="b-home"> TRANG CHỦ</b>
      </a></li>
      </div>
    <div class="pull-right navbar-company-link" >
       <li><a href="companies/search/">
        <span class="glyphicon glyphicon-calendar"></span><b class="b-company"> CÔNG TY</b>
      </a></li>

    </div>

    
   
  </div>

</div>
 <!--  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
     
     <div class="row">
     <div class="pull-left logo">
       <img src="modules/core/client/img/2.png" width="55" height="55" >
     </div>
     <div class="pull-right logo-brand" >
         <a ui-sref="home" class="navbar-brand">CRW</a>
     </div>
        
   
     </div>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav">
      <li><a ui-sref="#">
        <b id="job">Nghề nghiệp</b>
      </a></li>
      <li><a href="companies/search/">
        <b>Công ty</b>
      </a></li>
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="input-group">
        <input type="text" class="form-control search-comany-name" placeholder="Tìm kiếm công ty..." ng-model="keyword" ng-keypress="enterToSearch($event)"/>
        <span class="input-group-btn">
          <button class="btn btn-search" type="button" class="btn btn-primary btn-submit" ui-sref="companies.search({keyword: keyword})"> <i class="glyphicon glyphicon-search"></i> </button>
        </span>
      </div>
    </form>
     <div class=" navbar-right">
          <ul class="nav navbar-nav" ng-hide="authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="authentication.signin" class="signin">
                <span class="glyphicon glyphicon-log-in"></span>
                <b id="name">Đăng nhập</b>
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-sref-active="active">
              <a ui-sref="authentication.signup" class="signup">
                <span class="glyphicon glyphicon-user"></span>
                <b id="role">Đăng ký</b>
              </a>
            </li>
          </ul>
     </div>
    <div class="pull-right navbar-nav" style="font-size:15px;">
      <ul class="nav" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.name}}" class="header-profile-image" />
          <span ng-bind="authentication.user.name"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="#">Thông báo <span class="badge">4</span></a>
          </li>
          <li class="divider"></li>
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Thay đổi thông tin cá nhân</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Đổi ảnh đại diện</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Đổi mật khẩu</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Quản lý các tài khoản mạng xã hội</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Đăng xuất</a>
          </li>
        </ul>
      </li>
    </ul>
    </div> 



  </nav> -->
</div>
