<div class="modal-content">
    <div class="modal-header" style="background-color:#079696;color:white">
        <h4>Từ chối bài đánh giá</h4>
    </div>
    <div class="modal-body">
        <b style="color:red">Message:</b>
        <textarea class="form-control" rows="4" ng-model="message" style="background-color:white;overflow:hidden;color:grey"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="denie()">Xác nhận</button>
    </div>
</div>
