<div class="modal-content">
    <div class="modal-header" style="background:#079696">
        <h4 style="color:white">Khóa bài đánh giá:</h4>
    </div>
    <div class="modal-body">
       <h5 style="color:#f24141"> Message:</h5>
        <textarea  style="color:black;line-height:1.4em" class="form-control" rows="4" ng-model="message" style="background-color:white;overflow:hidden;color:black"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="accept()">Xác nhận</button>
    </div>
</div>
