<section class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#postedReview" role="tab" data-toggle="tab" style="font-weight:bold;">Đăng bài đánh giá</a>
        </li>
        <li role="presentation">
            <a href="#bookmarkedReviews" role="tab" data-toggle="tab" style="font-weight:bold;">Dấu trang bài đánh giá</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" style="border:solid 1px;border-color:lightgrey">
        <div role="tabpanel" class="tab-pane active" id="postedReview">
            <div class="row" style="">
                Hiển thị :
                <select ng-model="vm.postedReviewsItemsPerPage" class="show-itemsPerPage" style="width:70px;height:25px;color:black">
                    <option style="color:black" value="5">5</option>
                    <option style="color:black" value="10">10</option>
                    <option style="color:black" value="20">20</option>
                </select>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr style="color:white;font-weight:bold;background-color:#09ba5e;">
                        <th class="col-sm-2" ng-click="vm.sort('name')">Công ty <span class="glyphicon sort-icon" ng-show="vm.sortKey=='name'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-3" ng-click="vm.sort('reviews.title')">Chủ đề <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.title'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-2" ng-click="vm.sort('reviews.overallRev.rating')">Điểm đánh giá <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.overallRev.rating'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-2" ng-click="vm.sort('reviews.comments.length')">Số bình luận <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.comments.length'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-2" ng-click="vm.sort('reviews.upvoteUsers.length')">Lượt ủng hộ <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.upvoteUsers.length'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                    </tr>
                </thead>
            </table>
            <div dir-paginate="data in vm.postedReviews | orderBy:vm.sortKey:!vm.reverse | itemsPerPage:vm.postedReviewsItemsPerPage" pagination-id="postedReviews">
                <table class="table table-striped">
                    <tbody>
                        <tr style="color:black">
                            <td class="col-sm-2" style="font-weight:bold;border-right:solid 1px;border-color:lightgrey"><a style="color:black" ui-sref="companies.view({companyId: data._id})">{{data.name}}</a></td>
                            <td class="col-sm-3" style="font-weight:bold;border-right:solid 1px;border-color:lightgrey"><a style="color:black" ui-sref="companies.review({companyId: data._id, reviewId: data.reviews._id})">{{data.reviews.title}}</a></td>
                            <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{data.reviews.overallRev.rating}}</td>
                            <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{data.reviews.comments.length}}</td>
                            <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{data.reviews.upvoteUsers.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pull-right" style="font-size:10px;margin-right:10px">
                <dir-pagination-controls max-size="4" direction-links="true" boundary-links="true" pagination-id="postedReviews">
                </dir-pagination-controls>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="bookmarkedReviews">
            <div class="row" style="">
                Hiển thị :
                <select ng-model="vm.bookmarkedReviewsItemsPerPage" class="show-itemsPerPage" style="width:70px;height:25px;color:black">
                    <option style="color:black" value="5">5</option>
                    <option style="color:black" value="10">10</option>
                    <option style="color:black" value="20">20</option>
                </select>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr style="color:white;font-weight:bold;background-color:#09ba5e;">
                        <th class="col-sm-2" ng-click="vm.sort('name')">Công ty <span class="glyphicon sort-icon" ng-show="vm.sortKey=='name'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-3" ng-click="vm.sort('reviews.title')">Chủ đề <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.title'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-2" ng-click="vm.sort('reviews.overallRev.rating')">Điểm đánh giá <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.overallRev.rating'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-2" ng-click="vm.sort('reviews.comments.length')">Số bình luận <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.comments.length'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                        <th class="col-sm-2" ng-click="vm.sort('reviews.upvoteUsers.length')">Lượt ủng hộ <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.upvoteUsers.length'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                    </tr>
                </thead>
            </table>
            <div dir-paginate="data in vm.bookmarkedReviews | orderBy:vm.sortKey:!vm.reverse | itemsPerPage:vm.bookmarkedReviewsItemsPerPage" pagination-id="bookmarkedReviews">
                <table class="table table-striped">
                    <tbody>
                        <tr style="color:black">
                            <td class="col-sm-2" style="font-weight:bold;border-right:solid 1px;border-color:lightgrey"><a style="color:black" ui-sref="companies.view({companyId: data._id})">{{data.name}}</a></td>
                            <td class="col-sm-3" style="font-weight:bold;border-right:solid 1px;border-color:lightgrey"><a style="color:black" ui-sref="companies.review({reviewId: data.reviews._id})">{{data.reviews.title}}</a></td>
                            <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{data.reviews.overallRev.rating}}</td>
                            <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{data.reviews.comments.length}}</td>
                            <td class="col-sm-2" style="border-right:solid 1px;border-color:lightgrey"> {{data.reviews.upvoteUsers.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pull-right" style="font-size:10px;margin-right:10px">
                <dir-pagination-controls max-size="4" direction-links="true" boundary-links="true" pagination-id="bookmarkedReviews ">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</section>
