@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }*/

/****** Style Star Rating Widget *****/
 #bttop{
 border:1px solid #4adcff;
 background:#24bde2;
 text-align:center;
 padding:5px;
 position:fixed;
 bottom:35px;
 right:10px;
 cursor:pointer;
 display:none;
 color:#fff;
 font-size:11px;
 font-weight:900
 }
 #bttop:hover{
 border:1px solid #ffa789;
 background:#ff6734
 }
.rating { 
  font-size: 50px;
  
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: grey; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.rating { 
  font-size: 50px;
  
  border: none;
  float: left;
}

.ratings > input { display: none; } 
.ratings > label:before { 
  margin-left: 10px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  margin-bottom: 5px;
}

.ratings > .half:before { 
  content: "\f089";
  position: absolute;
}

.ratings > label { 
  color: grey; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.ratings > input:checked ~ label, /* show gold star when clicked */
.ratings:not(:checked) > label:hover, /* hover current star */
.ratings:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.ratings > input:checked + label:hover, /* hover current star when changing rating */
.ratings > input:checked ~ label:hover,
.ratings > label:hover ~ input:checked ~ label, /* lighten current selection */
.ratings > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.highline{
   background: #10cece;
    height: 20px;
    width: 60px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    overflow: hidden;
}
.review-detail-companyrating{
  border: solid 1px;
  border-color: lightgrey;
   background-color: white;
   margin-left: 0px;
   margin-right: 0px;
}
.content-avatar-detail{
  height: 100px;
  width: 150px;
  border:solid 1px;
  border-color:lightgrey; 
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-review-detail{
  border: solid 1px;
  border-color: lightgrey;
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  margin-left: 140px;
}
.review-detail-center{

 background-color: white;
  margin-top: 20px;
  overflow: hidden;
}
.content-avatar-review-detail{
   height: 60px;
   width: 60px;
   border:solid 1px;
   border-color: #b2b2b2;
   margin-left: 10px;
   
}
.button-report{
 margin-right: 15px;
 margin-top: 15px;
 background-color: white;
 color:grey;
 height: 30px;
 width: 40px;
}
.button-reports{
 background-color: #f24141;
 color: white;
 height: 40px;
 width: 40px;
}
.button-bookmark{
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  background-color:#1173d6;
  color: white;
  height: 30px;
}
.button-votes{
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 15px;
  background-color:#079696;
 
  color: white;
  height: 30px;
}
.button-vote{
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 15px;

  background-color:#f1f1f1;
  color:#4c4c4c;
  height: 30px;
}

.button-vote.active, .button-vote.active {
  background: #33a6cc;
  margin-bottom: -3px;
  margin-top: 3px;
}

.button-votes.active, .button-vote.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

.button-bookmark.active, .button-vote.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}


.review-detail-title{
   margin-left: 10px;
   font-weight:bold;
 
}
.review-detail-star{
  color: red;
  font-weight: bold;
  font-size: 40px;
  color: #1ab21a;

}
.review-vote {
    color: green;
    text-shadow: 0 0 150px green, 0 0 60px green, 0 0 10px green;
}
.review-vote{
  margin-top: 25px;
  margin-left: 32px;
  margin-bottom: 20px;
}
.review-detail{
  margin-left: 10px;
    font-weight:bold;
 
}
.review-details{
  
   color: #7f7f7f;
   text-transform: lowercase;
   margin-left: 10px;
}


.star-overall-review{
  border: solid 1px;
  border-color: lightgrey;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
  margin-bottom:20px;
}
.star-overall{
  font-size: 40px;
  margin-top: 7px;
  color: #1ab21a;
}
.review-cmt-note{
    color: red;
}
.date-review{
  font-size: 10px;
  margin-left: 10px;
}
.review-user{
  margin-left: 10px;
  font-size: 12px;
}
a.reviewnow:hover{
  text-decoration: underline;
}
a.reviewnow{
  color: #079696;
  font-weight: bold;
}
button.button-vote:hover{
  background-color: #b2b2b2;
  color: white;
}
button.button-votes:hover{
  background-color: #058282;

}

button.button-bookmark:hover{
  background-color: #0766c4;

}
button.button-report:hover{
  background-color: #e5e5e5;
}