<section class="row" ng-init="vm.init()" style="font-family: Roboto-Regular;margin-left:0px;margin-right:0px" >
   <h5 style="color:black;margin-top:20px;font-weight:bold;background-color:lightgrey;height:30px;padding-left:20px;padding-top:10px"><span class="glyphicon glyphicon-time"></span> Quản lý bài đăng / <span class="glyphicon glyphicon-flag"></span> Báo cáo vi phạm</h5>
   <div style="border:solid 1px;border-color:lightgrey;background-color:white">
   <ul class="nav nav-tabs" role="tablist" style="margin-top:20px;">
      <li role="presentation" class="active" style="margin-left:20px">
         <a href="#waitingReviews" role="tab" data-toggle="tab" style="font-weight:bold;color:#079696;">Bài đánh giá chờ duyệt <span style="background-color:#079696" class="badge">{{reviews.length}}</span></a>
      </li>
      <li role="presentation">
         <a href="#reportedReviews" role="tab" data-toggle="tab" style="font-weight:bold;color:#079696;">Báo cáo chờ xử lý <span style="background-color:#f24141" class="badge">{{reportedReviews.length}}</span></a>
      </li>
   </ul>
   <div class="tab-content" style="margin-top:20px;margin-left:20px;margin-right:20px;margin-bottom:20px">
      <div role="tabpanel" class="tab-pane active" id="waitingReviews" >
         <table class="table table-striped table-responsive">
            <thead>
               <tr style="color:white;font-weight:bold;background-color:#1fbaba;">
                  <th  class="col-sm-3" ng-click="vm.sort('name')"><b style="margin-left:20px">Công ty</b> <span class="glyphicon sort-icon" ng-show="vm.sortKey=='name'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                  <th  class="col-sm-7" ng-click="vm.sort('reviews.title')"><b style="margin-left:12px">Chủ đề</b> <span class="glyphicon sort-icon" ng-show="vm.sortKey=='reviews.title'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
              
                  <th>Đánh giá</th>
               </tr>
            </thead>
         </table>
         <div ng-repeat="data in reviews ">
            <div >
               <table class="table table-striped  table-bordered table-condensed" >
                  <tbody>
                     <tr style="color:grey" >
                        <div class="row" >
                           <td style="font-weight:bold;font-size:12px">
                              <button  style="width: 100%;border:none;background-color:#fff" data-toggle="collapse" data-target="#{{data.reviews._id}}">
                                 <div class="col-sm-3 " style="overflow:hidden">
                                    <h5 class="pull-left" style="color:#079696;font-weight:bold;">{{data.name}}</h5>
                                 </div>
                                 <div class="col-sm-6" style="overflow:hidden">
                                    <h6 class="pull-left" style="color:black;font-weight:bold;overflow:hidden" >{{data.reviews.title}}</h6>
                                 </div>
                                 <div class="col-sm-3">
                                    <div class="">
                                       <fieldset class="ratings" style="font-size:20px;">
                                          <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="5" />
                                          <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                          <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="4" />
                                          <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                          <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="3" />
                                          <label class="full" for="star3" title="Meh - 3 stars"></label>
                                          <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="2" />
                                          <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                          <input type="radio" name="{{data.reviews._id}}" ng-model="data.reviews.overallRev.rating" value="1" />
                                          <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                          <b style="color:#sf24141">{{data.reviews.overallRev.rating}}.0</b>
                                       </fieldset>
                                    </div>
                                 </div>
                              </button>
                              <div id="{{data.reviews._id}}" class="collapse" style="background-color:white;margin-top:20px;margin-bottom:20px">
                                 <div class="row">
                                    <div class="col-sm-1">
                                       <img style="width: 100px;height:80px;border:solid 1px;border-color:lightgrey;margin-bottom:20px;margin-top:10px;margin-left:10px" ng-src="{{data.avatar}}" >
                                    </div>
                                    <div class="col-sm-10" >
                                       <div class="row" style="margin-left:40px;margin-top:10px;margin-bottom:10px;border:solid 1px;border-color:lightgrey">
                                          <div class="col-sm-6" style="color:black ">
                                             <h5 style="font-weight:bold">
                                                Chủ đề:
                                                <h5 data-ng-bind="data.reviews.title" style="color:#3b5998;"></h5>
                                             </h5>
                                             <h5 class="text-left " style="font-weight:bold">Nghề nghiệp:</h5>
                                             <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.job"> </h5>

                                             <h5 class="text-left review-detail" ng-show="data.reviews.isJobCurrent">Hiện đang làm việc:</h5>
                                            <h5 class="text-left review-detail" ng-hide="data.reviews.isJobCurrent">Đã từng làm việc:</h5>
                                            <h5 class="text-left review-details" data-ng-bind="data.reviews.jobLength"></h5>

                                             <h5 class="text-left " style="font-weight:bold">Loại nhân viên:</h5>
                                             <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.contract"></h5>
                                             <h5 class="text-left " style="font-weight:bold">Ưu điểm:</h5>
                                             <h5 style="line-height:1.4em;color:grey" class="text-left " data-ng-bind="data.reviews.overallRev.pros"></h5>
                                             <h5 class="text-left " style="font-weight:bold">Nhược điểm:</h5>
                                             <h5 style="line-height:1.4em;color:grey" class="text-left " data-ng-bind="data.reviews.overallRev.cons"></h5>
                                             <h5 class="text-left " style="font-weight:bold">Nội dung:</h5>
                                             <h5 style="line-height:1.4em;color:grey" class="text-left " data-ng-bind="data.reviews.overallRev.supplement"></h5>
                                          </div>
                                          <div class="col-sm-6" style="color:black;margin-bottom:10px" >
                                             <h5 class="text-left "  style="font-weight:bold">Lương cơ bản:</h5>
                                             <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.basePay"></h5>
                                             <h5 class="text-left "  style="font-weight:bold">Mức tăng lương trung bình:</h5>
                                             <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.payRaise"></h5>
                                             <h5 class="text-left "  style="font-weight:bold">Lương thưởng:</h5>
                                             <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.cashBonus"></h5>
                                             <h5 class="text-left "  style="font-weight:bold">Tiền lương ngoài:</h5>
                                             <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.profitSharing"></h5>
                                             <h5 class="text-left "  style="font-weight:bold">Cơ hội thăng tiến:</h5>
                                           
                                             <style type="text/css">
                                                .br-theme-bars-movie .br-widget .br-current-rating{
                                                font-size: 12px;
                                                }
                                             </style>
                                             <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.opportunityRating">
                                                <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===1">Kém</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===2">Bình thường</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===3">Tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===4">Rất tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===5">Xuất sắc</div>
                                             </div>
                                             <h5 class="text-left " style="font-weight:bold">Bảo hiểm và các chế độ chăm sóc sức khỏe:</h5>
                                             
                                             <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.healthRating">
                                                <div ng-show="data.reviews.salaryAndBenefit.healthRating===1">Kém</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.healthRating===2">Bình thường</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.healthRating===3">Tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.healthRating===4">Rất tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.healthRating===5">Xuất sắc</div>
                                             </div>
                                             <h5 class="text-left " style="font-weight:bold">Thời gian nghỉ lương thưởng:</h5>
                                          
                                             <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.timeOffRating">
                                                <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===1">Kém</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===2">Bình thường</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===3">Tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===4">Rất tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===5">Xuất sắc</div>
                                             </div>
                                             <h5 class="text-left " style="font-weight:bold">Chế độ lương hưu:</h5>
                                            
                                             <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.pensionRating">
                                                <div ng-show="data.reviews.salaryAndBenefit.pensionRating===1">Kém</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.pensionRating===2">Bình thường</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.pensionRating===3">Tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.pensionRating===4">Rất tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.pensionRating===5">Xuất sắc</div>
                                             </div>
                                             <h5 class="text-left " style="font-weight:bold">Chế độ thai sản/ nghỉ vợ đẻ:</h5>
                                             <!--  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.parentalLeaveRating"></h5> -->
                                             <div style="margin-left:0px;color:grey" ng-model="data.reviews.salaryAndBenefit.parentalLeaveRating">
                                                <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===1">Kém</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===2">Bình thường</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===3">Tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===4">Rất tốt</div>
                                                <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===5">Xuất sắc</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row" style="margin-bottom:10px">
                                    <a style="margin-left:700px;"  ng-click="vm.denieModal(data)">Bỏ duyệt</a>
                                    <button style="width:100px;margin-left:10px;margin-bottom:10px" type="button" class=" btn btn-info" ng-click="vm.approveModal(data)">Duyệt bài</button>
                                 </div>
                              </div>
                           </td>
                        </div>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <!-- eND
         -->
      <div role="tabpanel" class="tab-pane" id="reportedReviews">
         <div class="" style="border:solid 1px;border-color:lightgrey">
            <table class="table table-striped " >
               <thead>
                  <tr style="color:white;font-weight:bold;background-color:#1fbaba;">
                     <th class="text-left col-sm-4" >Công ty </th>
                     <th class="text-left col-sm-6" >Chủ đề </th>
                     <th class="col-sm-2">Chưa xử lý</th>
                  </tr>
               </thead>
            </table>
            <div ng-repeat="data in reportedReviews " style="margin-bottom:10px;">
               <div style="width: 100%;" data-toggle="collapse" data-target="#{{data.reviews._id}}">
                  <div >
                     <table class="table table-striped "  >
                        <tbody >
                           <div class="">
                              <tr style="color:grey;" >
                                 <div class="row"  >
                                    <td class="col-sm-4" >
                                       <b style="color:#079696">{{data.name}}</b>
                                    </td>
                                    <td class="col-sm-6" style="color:black">
                                       <b>{{data.reviews.title}}</b>
                                    </td>
                                    <td class="col-sm-2">
                                       <b style="color:#f24141">{{filteredReport.length}}</b>
                                       <div ng-repeat="report in data.reviews.reports | filter: { isConsidered: false } as filteredReport"></div>
                                    </td>
                                 </div>
                              </tr>
                           </div>
                  </div>
                  <div class="" style="margin-left:10px;margin-right:10px">
                  <div id="{{data.reviews._id}}" class="collapse" style="margin-bottom:10px">
                  <h5 style="font-weight:bold;color:#f24141;margin-left:10px">Các lý do:</h5>
                  <div class="row" style="margin-left:0px;;border:solid 2px;border-color:lightgrey;margin-right:0px" >





                     <div ng-repeat="report in data.reviews.reports | filter: {isConsidered: false}">
                     <div style="margin:10px">
                     <!-- <a ui-sref="user({userId: report.user})" style="color:grey"> -->
                     <div style="border-bottom:solid 1px;border-color:lightgrey">
                        <a ui-sref="user({userId: report.user._id})">{{report.user.name}}</a>
                        <p style="color:black">{{report.content}}</p></a>
                     </div>









                     </div>
                     </div>








                  </div>
                   <h5 style="font-weight:bold;color:#079696;margin-left:10px">Chi tiết bài đánh giá bị báo cáo:</h5>
                  <div class="row" >
                  <div class="col-sm-1">
                  <img style="width: 115px;height:95px;border:solid 2px;border-color:lightgrey;margin-bottom:20px;margin-top:10px;" ng-src="{{data.avatar}}" >
                  </div>
                  <div class="col-sm-10" style="border:solid 2px;border-color:lightgrey;margin-left:67px;margin-top:10px;margin-bottom:10px" >
                  <div class="row" style="margin-left:40px;margin-top:10px;margin-bottom:10px;">
                  <div class="col-sm-6" style="color:black ">
                  <h5 style="font-weight:bold">
                  Chủ đề:
                  <h5 data-ng-bind="data.reviews.title" style="color:#3b5998;"></h5>
                  </h5>
                  <h5 class="text-left " style="font-weight:bold">Nghề nghiệp:</h5>
                  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.job"> </h5>
                  <h5 class="text-left review-detail" ng-show="data.reviews.isJobCurrent">Hiện đang làm việc:</h5>
                 <h5 class="text-left review-detail" ng-hide="data.reviews.isJobCurrent">Đã từng làm việc:</h5>
                 <h5 class="text-left review-details" data-ng-bind="data.reviews.jobLength"></h5>
                  <h5 class="text-left " style="font-weight:bold">Loại nhân viên:</h5>
                  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.contract"></h5>
                  <h5 class="text-left " style="font-weight:bold">Ưu điểm:</h5>
                  <h5 style="line-height:1.4em;color:grey" class="text-left " data-ng-bind="data.reviews.overallRev.pros"></h5>
                  <h5 class="text-left " style="font-weight:bold">Nhược điểm:</h5>
                  <h5 style="line-height:1.4em;color:grey" class="text-left " data-ng-bind="data.reviews.overallRev.cons"></h5>
                  <h5 class="text-left " style="font-weight:bold">Nội dung:</h5>
                  <h5 style="line-height:1.4em;color:grey" class="text-left " data-ng-bind="data.reviews.overallRev.supplement"></h5>
                  </div>
                  <div class="col-sm-6" style="color:black;margin-bottom:10px" >
                  <h5 class="text-left "  style="font-weight:bold">Lương cơ bản:</h5>
                  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.basePay"></h5>
                  <h5 class="text-left "  style="font-weight:bold">Mức tăng lương trung bình:</h5>
                  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.payRaise"></h5>
                  <h5 class="text-left "  style="font-weight:bold">Lương thưởng:</h5>
                  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.cashBonus"></h5>
                  <h5 class="text-left "  style="font-weight:bold">Tiền lương ngoài:</h5>
                  <h5 style="color:grey" class="text-left " data-ng-bind="data.reviews.salaryAndBenefit.profitSharing"></h5>
                  <h5 class="text-left "  style="font-weight:bold">Cơ hội thăng tiến:</h5>
                 
                  <style type="text/css">
                  .br-theme-bars-movie .br-widget .br-current-rating{
                  font-size: 12px;
                  }
                  </style>
                  <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.opportunityRating">
                  <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===1">Kém</div>
                  <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===2">Bình thường</div>
                  <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===3">Tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===4">Rất tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.opportunityRating===5">Xuất sắc</div>
                  </div>
                  <h5 class="text-left " style="font-weight:bold">Bảo hiểm và các chế độ chăm sóc sức khỏe:</h5>
                  
                  <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.healthRating">
                  <div ng-show="data.reviews.salaryAndBenefit.healthRating===1">Kém</div>
                  <div ng-show="data.reviews.salaryAndBenefit.healthRating===2">Bình thường</div>
                  <div ng-show="data.reviews.salaryAndBenefit.healthRating===3">Tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.healthRating===4">Rất tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.healthRating===5">Xuất sắc</div>
                  </div>
                  <h5 class="text-left " style="font-weight:bold">Thời gian nghỉ lương thưởng:</h5>
                 
                  <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.timeOffRating">
                  <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===1">Kém</div>
                  <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===2">Bình thường</div>
                  <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===3">Tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===4">Rất tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.timeOffRating===5">Xuất sắc</div>
                  </div>
                  <h5 class="text-left " style="font-weight:bold">Chế độ lương hưu:</h5>
            
                  <div style="margin-left:0px;color:grey" ng-show="data.reviews.salaryAndBenefit.pensionRating">
                  <div ng-show="data.reviews.salaryAndBenefit.pensionRating===1">Kém</div>
                  <div ng-show="data.reviews.salaryAndBenefit.pensionRating===2">Bình thường</div>
                  <div ng-show="data.reviews.salaryAndBenefit.pensionRating===3">Tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.pensionRating===4">Rất tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.pensionRating===5">Xuất sắc</div>
                  </div>
                  <h5 class="text-left " style="font-weight:bold">Chế độ thai sản/ nghỉ vợ đẻ:</h5>
              
                  <div style="margin-left:0px;color:grey" ng-model="data.reviews.salaryAndBenefit.parentalLeaveRating">
                  <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===1">Kém</div>
                  <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===2">Bình thường</div>
                  <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===3">Tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===4">Rất tốt</div>
                  <div ng-show="data.reviews.salaryAndBenefit.parentalLeaveRating===5">Xuất sắc</div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="row" style="margin-bottom:10px">
                  <a style="color:#3b5998;
                     margin-left:750px" ng-click="vm.rejectModal(data)">Bỏ qua</a>
                  <button type="button" class="btn btn-danger" ng-click="vm.acceptModal(data)" style="margin-left:20px;width:100px">Xử lý</button>
                  </div>
                  </div>
                
                  </tbody>
                  </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<script>
   $(document).ready(function() {
       $('[data-toggle="tooltip"]').tooltip();
   
   });
</script>

