<section>
 <h5 style="color:black;margin-top:20px;font-weight:bold;background-color:lightgrey;height:40px;padding-left:20px;padding-top:10px"><span class="glyphicon glyphicon-user"></span> Quản lý các người dùng</h5>


<div class="" style="background-color:white;border:solid 1px; border-color:lightgrey">
     

     
   <div class="row">
     <div class="col-sm-3">
           <div  class="hero-widget well well-sm"  style="margin-left:20px;margin-top:10px;">
                <div class="icon">
                     <i class="glyphicon glyphicon-user" style="color:#ffcc00"></i>
                </div>
                <div class="text">
                    <var>{{vm.adminTotal}}</var>
                    <label class="text-muted">ADMIN</label>
                </div>
               
            </div>
     </div>
     <div class="col-sm-3">
         <div  class="hero-widget well well-sm"  style="margin-top:10px;">
                <div class="icon">
                     <i class="glyphicon glyphicon-user" style="color:#ef4747"></i>
                </div>
                <div class="text">
                    <var>{{vm.modTotal - vm.adminTotal}}</var>
                    <label class="text-muted">MOD</label>
                </div>
               
            </div>
     </div>
     <div class="col-sm-3">
        <div  class="hero-widget well well-sm"  style="margin-top:10px;">
                <div class="icon">
                     <i class="glyphicon glyphicon-user" style="color:#efe5bd"></i>
                </div>
                <div class="text">
                    <var>{{vm.users.length - vm.modTotal}}</var>
                    <label class="text-muted">USER</label>
                </div>
               
            </div>

     </div>
     <div class="col-sm-3">
         <div  class="hero-widget well well-sm"  style="margin-right:20px;margin-top:10px;">
                <div class="icon">
                     <i class="glyphicon glyphicon-user" style="color:#079696"></i>
                </div>
                <div class="text">
                    <var>{{vm.users.length}}</var>
                    <label class="text-muted">TỔNG TÀI KHOẢN</label>
                </div>
               
            </div>  

     </div>

   </div>
  <div class="row" style="margin-left:20px;margin-right:20px;background-color:white;border:solid 2px;border-color:lightgrey;margin-bottom:20px">
     
       <div class="row" >
          <div class="col-sm-8">
              <span style="margin-left:10px">Hiển thị</span>
            <select ng-model="vm.ItemsPerPage" class="show-itemsPerPage" style="width:70px;height:25px;color:black; margin-right:10px;margin-top:10px;border:solid 1px;border-color:grey">
            <option style="color:black" value="10">10</option>
            <option style="color:black" value="20">20</option>
            <option style="color:black" value="30">30</option>
         </select>
          </div>
          <div class="col-sm-4 " style="margin-top:10px;">
            <div class="" style="margin-left:50px">
               <span style="margin-left:10px" >Tìm kiếm</span>
                      <input style="border:solid 1px;border-color:grey" type="search" ng-model="vm.keyword" style="" placeholder=" Tìm theo tên hiển thị..." >
            </div>
          </div>

       </div>
       <div class="table-responsive" style="margin-right:10px;margin-left:10px;border:solid 1px;margin-top:10px;margin-bottom:10px;border-color:#1fbaba">
                <table class="table table-striped table-bordered table-condensed" >
         <thead>
            <tr style="color:white;font-weight:bold;background-color:#1fbaba">
                <th style="font-size:13px" class="col-sm-4" ng-click="vm.sort('email')">Email <span class="glyphicon sort-icon" ng-show="vm.sortKey=='email'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th   style="font-size:13px" class="col-sm-4" ng-click="vm.sort('name')">Tên hiển thị <span class="glyphicon sort-icon" ng-show="vm.sortKey=='name'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th  style="font-size:13px" class="col-sm-2" ng-click="vm.sort('accState')">Trạng thái tài khoản <span class="glyphicon sort-icon" ng-show="vm.sortKey=='accState'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
                <th style="font-size:13px"  class="col-sm-2" ng-click="vm.sort('roles')">Quyền hạn <span class="glyphicon sort-icon" ng-show="vm.sortKey=='roles'" ng-class="{'glyphicon-chevron-up':vm.reverse,'glyphicon-chevron-down':!vm.reverse}"></span></th>
            </tr>
        </thead>
      </table>
       <div dir-paginate="user in vm.users | orderBy:vm.sortKey:!vm.reverse | itemsPerPage:vm.ItemsPerPage | filter: {name: vm.keyword}">
         <table class="table table-striped table-bordered table-condensed" style="">
           <tbody>
                <tr style="color:black">
                    <td class="col-sm-4" style="font-size:13px"><a style="color:black">{{user.email}}</a></td>
                    <td class="col-sm-4" style="font-size:13px"><a style="color:#1672ce" ui-sref="user({userId: user._id})">{{user.name}}</a></td>
                    <td class="col-sm-2" style="font-size:13px"><span ng-show="user.accState==='active'">Hoạt động</span><span ng-show="user.accState==='deactive'">Bị khóa</span><span ng-show="user.accState==='unverified'">Chưa kích hoạt</span></td>
                    <td class="col-sm-2" style="font-size:13px"> <span ng-repeat="role in user.roles" class="badge" style="background-color:#079696"> {{role}}</span></td>
                </tr>
            </tbody>
         </table>
      </div>
       </div>
      <div class="row pull-right" style="font-size:10px;margin-right:10px">
         <dir-pagination-controls max-size="4" direction-links="true" boundary-links="true">
         </dir-pagination-controls>
      </div>
   </div>


</div>
 
</section>
