<div class="modal-content">
    <div class="modal-header">
        Từ chối bài đánh giá
    </div>
    <div class="modal-body">
        Message:
        <textarea class="form-control" rows="4" ng-model="message" style="background-color:white;overflow:hidden;color:black"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="denie()">Xác nhận</button>
    </div>
</div>
