<div class="modal-content">
    <div class="modal-header" style="background:#079696">
        <h4 style="color:white">Bỏ qua báo cáo vi phạm:</h4>
    </div>
    <div class="modal-body">
        Bạn muốn <b style="color:#079696">bỏ qua</b> tất cả báo cáo vi phạm?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reject(data)">Xác nhận</button>
    </div>
</div>
