<section class="row" ng-controller="ChangePasswordController" style="margin-left:20px">

  <div class="col-sm-1">
    
  </div>

    <h4 style="color:grey">Company rating website</h4>
  <div class="col-sm-12"  style="background-color:white;border:solid 2px;border-color:lightgrey">
    <h5 style="font-weight:bold;margin-left:20px;margin-top:20px">Cập nhật mật khẩu</h5>
    <div class="" style="background-color:white;border:solid 2px;border-color:lightgrey;margin:40px 20px 20px 20px;">
        <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signincp" novalidate autocomplete="off" style="margin-left:100px;margin-right:20px">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword" style="margin-top:10px;">Mật khẩu cũ</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword" placeholder="Nhập mật khẩu cũ..." required>
          <div ng-messages="passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nhập mật khẩu gần đây của bạn</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword" >Mật khẩu mới</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="Nhập mật khẩu mới..." popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nhập mật khẩu mới</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword" >Xác nhận lại mật khẩu mới</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Nhập lại mật khẩu mới..." password-verify="passwordDetails.newPassword" required>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Xác nhận lại mật khẩu mới của bạn</p>
            <p class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</p>
          </div>
        </div>
        <div class="form-group" ng-show="!passwordForm.newPassword.$error.required">
          <label>Password Requirements</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        
        <div ng-show="success" class="text-center text-success">
          <strong>Thay đỗi mật khẩu thành công</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="pull-left btn btn-info" style="margin-bottom:100px;margin-left:20px" >Lưu mật khẩu</button>
        </div>
      </fieldset>
    </form>
    </div>
  

  </div>

</section>
