<section ng-controller="SettingsController" style="font-family: Roboto-Regular;">
   <div class="row" style="" >
      <div class="control-left" style="display:block;">
         <div class="col-sm-3 col-md-2 sidebar admin-control-left" >
            <ul class="nav nav-sidebar" style="margin-top:20px" >
                <li>
                  <span class=" glyphicon glyphicon-cog" style="font-size:70px;margin-left:55px"></span>
                </li>
               <li style=" width: 80%; text-align: center; margin: auto;" >
                  <!--  <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.name}}" class="header-profile-image  img-circle"  /> -->
                  <div style="margin-left:-10px;margin-top:10px;font-size: 11px;margin-bottom:20px"><i class="glyphicon glyphicon-wrench"></i> Quản trị hệ thống</div>
                
               </li>
               <li class="divider"></li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424" ng-show="(user.roles.indexOf('mod')>=0)">
                  <a class="setting" ui-sref="settings.announcement" style="color:white">
                     <h6>Thông báo  <span class="badge"> {{unseenAnnouce}} chưa xem </span></h6>
                  </a>
               </li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424" ng-show="(user.roles.indexOf('mod')>=0)">
                  <a class="setting" ui-sref="settings.reviews" style="color:white">
                     <h6>Xử lý bài đăng <span class="badge"> {{wtgrvNotif + rptrvNotif}} đang chờ </span></h6>
                  </a>
               </li>
             
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424" ng-show="(user.roles.indexOf('mod')>=0)">
                  <a class="setting" data-toggle="collapse" href="#collapse1" style="color:white">
                     <h6>Quản lý/Thống kê <span class="pull-right"><span class="caret"></span>
                     </span> 
                     </h6>
                  </a>
                  <div id="collapse1" class="panel-collapse collapse" >
                     <ul class="list-group" >
                        <li class="list-group-item" style="background-color:#423b3b">
                           <a class="setting" ui-sref="settings.users" style="color:white">
                              <h6>Người dùng</h6>
                           </a>
                        </li>
                        <li class="list-group-item" style="background-color:#423b3b">
                           <a class="setting" ui-sref="settings.companies"  style="color:white">
                              <h6>Các công ty</h6>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                  <a class="setting" ui-sref="settings.postedReviews" style="color:white">
                     <h6>Bài đánh giá đã đăng</h6>
                  </a>
               </li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                  <a class="setting"  ui-sref="settings.followedCompany" style="color:white">
                     <h6>Công ty đang theo dõi</h6>
                  </a>
               </li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                  <a class="setting" ui-sref="settings.bookmarkedReviews" style="color:white">
                     <h6>Bài đánh giá đã đánh dấu</h6>
                  </a>
               </li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                  <a class="setting" ui-sref="settings.accountInfo" style="color:white">
                     <h6>Thông tin tài khoản</h6>
                  </a>
               </li>
                 <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                  <a class="setting" data-toggle="collapse" href="#collapse2" style="color:white">
                     <h6>Chỉnh sửa tài khoản <span class="pull-right"><span class="caret"></span></h6>
                     </span> 
                  </a>
                  <div id="collapse2" class="panel-collapse collapse" >
                     <ul class="list-group" >
                        <li class="list-group-item" style="background-color:#423b3b">
                           <a class="setting" ui-sref="settings.profile" style="color:white">
                              <h6>Chỉnh sửa thông tin</h6>
                           </a>
                        </li>
                        <li class="list-group-item" style="background-color:#423b3b">
                           <a  ui-sref="settings.picture"  style="color:white">
                              <h6>Chỉnh sửa ảnh đại diện</h6>
                           </a>
                        </li>
                        <li class="list-group-item " style="background-color:#423b3b">
                           <a class="setting" ui-sref="settings.password"  style="color:white">
                              <h6>Thay đổi mật khẩu</h6>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424;border-bottom:solid 1px #262424;">
                  <a class="setting" ui-sref="settings.accounts" style="color:white">
                     <h6>Quản lý mạng xã hội</h6>
                  </a>
               </li>
            </ul>
         </div>
         <div class="col-sm-10 settings-view" >
            <div ui-view style="margin-top:30px;margin-left:10px;margin-right:10px" id="setting-ui-view"></div>
         </div>
      </div>
   </div>
   <div id='bttop'>TRỞ VỀ ĐẦU TRANG</div>
</section>
<script type="text/javascript">
   $(function() {
    $(window).scroll(function() {
    if ($(this).scrollTop() != 0) {
    $('#bttop').fadeIn();
    } else {
    $('#bttop').fadeOut();
    }
    });
    $('#bttop').click(function() {
    $('body,html').animate({
    scrollTop: 0
    }, 800);
    });
   });
</script>
</script>