<section ng-controller="SettingsController" style="font-family: Roboto-Regular;">
    <div class="row" style="">
        <div class="control-left" style="display:block;">
            <div class="col-sm-3 col-md-2 sidebar admin-control-left">
                <ul class="nav nav-sidebar" style="margin-top:20px">
                    <li>
                        <span class=" glyphicon glyphicon-cog" style="font-size:70px;margin-left:55px"></span>
                    </li>
                    <li style=" width: 80%; text-align: center; margin: auto;">
                        <!--  <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.name}}" class="header-profile-image  img-circle"  /> -->
                        <div style="margin-left:-10px;margin-top:10px;font-size: 11px;margin-bottom:20px"><i class="glyphicon glyphicon-wrench"></i> Quản trị hệ thống</div>
                    </li>
                    <li class="divider"></li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                        <a class="setting" ui-sref="settings.announcement" style="color:white">
                            <h6><span class="glyphicon glyphicon-bell"></span> Thông báo  <span class="badge"> {{unseenAnnouce}} chưa xem </span></h6>
                        </a>
                    </li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424" ng-show="(user.roles.indexOf('mod')>=0)">
                        <a class="setting" ui-sref="settings.reviews" style="color:white">
                            <h6><span class="glyphicon glyphicon-time"></span>  Xử lý bài đăng <span class="badge"> {{wtgrvNotif + rptrvNotif}} đang chờ </span></h6>
                        </a>
                    </li>
                    <li style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424" ng-show="(user.roles.indexOf('mod')>=0)">
                        <a class="settings" data-toggle="collapse" href="#collapse1" style="color:white">
                            <h6><span class="glyphicon glyphicon-equalizer"></span> Quản lý/Thống kê <span class="pull-right"><span class="caret"></span>
                     </span> 
                     </h6>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group" style="margin-bottom:0px">
                                <div class="row" style="border:solid 1px;border-color:#262424;margin-right:0px">
                                    <a class="setting" ui-sref="settings.users" style="color:white;">
                                        <h6 style="margin-left:30px;color:#0bc1c1"><span class="glyphicon glyphicon-user"></span> Người dùng</h6>
                                    </a>
                                </div>
                                <div class="row" style="border:solid 1px;border-color:#262424;margin-right:0px;border-top:none;border-bottom:none">
                                    <a class="setting" ui-sref="settings.companies" style="color:white;">
                                        <h6 style="margin-left:30px;color:#0bc1c1"><span class="glyphicon glyphicon-briefcase"></span> Các công ty</h6>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                        <a class="setting" ui-sref="settings.postedReviews" style="color:white">
                            <h6><span class="glyphicon glyphicon-plus"></span> Bài đánh giá đã đăng</h6>
                        </a>
                    </li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                        <a class="setting" ui-sref="settings.followedCompany" style="color:white">
                            <h6><span class="glyphicon glyphicon-signal"></span> Công ty đang theo dõi</h6>
                        </a>
                    </li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                        <a class="setting" ui-sref="settings.bookmarkedReviews" style="color:white">
                            <h6><span class="glyphicon glyphicon-bookmark"></span> Bài đánh giá đã đánh dấu</h6>
                        </a>
                    </li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                        <a class="setting" ui-sref="settings.accountInfo" style="color:white">
                            <h6><span class="glyphicon glyphicon-record"></span> Thông tin tài khoản</h6>
                        </a>
                    </li>
                    <li style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424">
                        <a class="settings" data-toggle="collapse" href="#collapse2" style="color:white">
                            <h6><span class="glyphicon glyphicon-wrench"></span> Chỉnh sửa tài khoản <span class="pull-right"><span class="caret"></span></h6>
                            </span>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group" style="margin-bottom:0px">
                                <div class="row" style="border:solid 1px;border-color:#262424;margin-right:0px">
                                    <a class="setting" ui-sref="settings.profile" style="color:white">
                                        <h6 style="margin-left:30px;color:#0bc1c1"><span class="glyphicon glyphicon-wrench"></span> Chỉnh sửa thông tin</h6>
                                    </a>
                                </div>
                                <div class="row" style="border:solid 1px;border-color:#262424;margin-right:0px">
                                    <a ui-sref="settings.picture" style="color:white">
                                        <h6 style="margin-left:30px;color:#0bc1c1"><span class="glyphicon glyphicon-picture"></span> Chỉnh sửa ảnh đại diện</h6>
                                    </a>
                                </div>
                                <div class="row" style="border:solid 1px;border-color:#262424;margin-right:0px">
                                    <a class="setting" ui-sref="settings.password" style="color:white">
                                        <h6 style="margin-left:30px;color:#0bc1c1"><span class="glyphicon glyphicon-lock"></span> Thay đổi mật khẩu</h6>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li ui-sref-active="active" style="margin-left:-15px;margin-right:-15px;border-top:solid 2px;border-color:#262424;border-bottom:solid 1px #262424;">
                        <a class="setting" ui-sref="settings.accounts" style="color:white">
                            <h6><span class="glyphicon glyphicon-hand-right"></span> Quản lý mạng xã hội</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 settings-view">
                <div ui-view style="margin-top:30px;margin-left:10px;margin-right:10px" id="setting-ui-view"></div>
            </div>
        </div>
    </div>
    <div id='bttop'>TRỞ VỀ ĐẦU TRANG</div>
</section>
<script type="text/javascript">
$(function() {
    $(window).scroll(function() {
        if ($(this).scrollTop() != 0) {
            $('#bttop').fadeIn();
        } else {
            $('#bttop').fadeOut();
        }
    });
    $('#bttop').click(function() {
        $('body,html').animate({
            scrollTop: 0
        }, 800);
    });
});
</script>
</script>
