<style type="text/css">
   @font-face {
   font-family: 'Roboto-Regular';
   src: url('/modules/companies/client/css/RobotoTTF/Roboto-Regular.ttf');
   }
</style>
<section ng-controller="SettingsController" style="font-family: Roboto-Regular;">
<div class="row" style="" >
      <div class="control-left" style="display:block;">
               
                <nav class="col-sm-2 admin-control-left" >
                 
                <div class="row" style="display:block;">
                       <span class="glyphicon glyphicon-off" style="background-color:white"></span>
                       <h4 style="color:white;margin-top:60px;font-weight:bold;margin-left:40px;margin-bottom:10px"> Quản trị tài khoản </h4>
                       <h5 style="margin-bottom:50px" class="text-center">Administrator</h5>
                  <ul class="nav nav-pills nav-stacked" >

                  
                        <li ui-sref-active="active" ng-show="(user.roles.indexOf('admin')>0)" style="border-top:solid 1px;border-color:black">
                     <a  class="abc" ui-sref="settings.users" style="color:white"> <p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-tasks"></span> Quản lý người dùng</p></a>
                    </li>



                    <li ui-sref-active="active" style="border-bottom:solid 1px;border-color:black">

                         <a class="abc" ui-sref="settings.announcement" ng-show="(isUser)"  style="color:white"><p style="margin-left:0px;margin-top:20px;font-size:12px"><span class="glyphicon glyphicon-globe"></span> Thông báo  <span class="badge"> {{unseenAnnouce}} chưa xem </span></p></a>

                    </li>

                    <li ui-sref-active="active" ng-show="(isMod)" style="border-bottom:solid 1px;border-color:black">
                     <a  class="abc" ui-sref="settings.reviews" style="color:white"> <p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-tasks"></span> Xử lý bài đăng <span class="badge"> {{waitingReviews}} bài chờ </span></p></a>
                    </li>

                    <li ui-sref-active="active" ng-show="(isMod)" style="border-color:black">
                     <a class="abc" ui-sref="settings.companies" style="color:white"> <p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-tasks"></span> Quản lý các công ty</p></a>
                    </li>

                  
                         <li ui-sref-active="active"  style="border-bottom:solid 1px;border-top:solid 1px;border-color:black">
                         <a class="abc"  ui-sref="settings.archivedReviews" style="color:white"><p  style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-save"></span>  Lưu trữ</p></a>
                    </li>




                    <li ui-sref-active="active" style="border-bottom:solid 1px;border-color:black">
                     <a  class="abc" ui-sref="settings.profile" style="color:white"><p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-certificate"></span> Chỉnh sửa tài khoản</p></a>
                     
                    </li>
                    <li ui-sref-active="active" style="border-bottom:solid 1px;border-color:black">
                      <a  class="abc" ui-sref="settings.picture"  style="color:white"><p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-picture"></span> Chỉnh sửa ảnh đại diện</p></a>
                    </li>
                    <li ui-sref-active="active" ng-show="user.provider === 'local'" style="border-bottom:solid 1px;border-color:black">
                               <a class="abc" ui-sref="settings.password"  style="color:white"><p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-lock"></span> Thay đổi mật khẩu</p></a>
                  
                    </li>
                    <li ui-sref-active="active" style="border-bottom:solid 1px;border-color:black">
                    <a  class="abc" ui-sref="settings.accounts"  style="color:white"><p style="margin-left:0px;font-size:12px"><span class="glyphicon glyphicon-record"></span> Quản lý tài khoản mạng xã hội</p></a>
                  
                      
                    </li>
                  </ul>
                      
                    </div>
                </nav>
                <div class="col-sm-10 settings-view" >
                  <div ui-view style="margin-top:30px;margin-left:10px;margin-right:10px"></div>
                </div>
     
        </div>
    </div>

</section>
