<div ng-controller="AuthenticationController">
  <div class="col-sm-3">
    
  </div>
  <div class="col-sm-6" style="border:solid 1px; border-color:lightgrey;margin-top:40px;background-color:white">
    <div class="row">
      <h3 class="col-md-12 text-center" style="font-weight:bold">Đăng nhập </h3>
    </div>
          <div class="row" style="border-color:solid 1px;color:white">
              <button class="button text-center" ng-click="callOauthProvider('/api/auth/facebook')"  style="background-color:#3b5998;width:550px;margin-left:60px"><img ng-src="/modules/users/client/img/buttons/fb.png" style="height:40px;">
            Đăng nhập với facebook</button>
          </div>
          <div class="row">
             <div class="text-center text-muted">Chúng tôi sẽ không đăng bất cứ gì lên Facebook mà không được sự cho phép của bạn.</div>
          </div>
          <div class="row" style="margin-left:45px;margin-top:20px;">
                    <form style="width:550px" name="userForm" ng-submit="signin(userForm.$valid)" class="signins" novalidate autocomplete="off">
                      <fieldset>
                        <div class="form-group"  show-errors>
                          <input type="text" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="email" lowercase required>
                          <div ng-messages="userForm.email.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Xin nhập địa chỉ email.</p>
                          </div>
                        </div>
                        <div class="form-group" show-errors>
                          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="mật khẩu" required>
                          <div ng-messages="userForm.password.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Xin nhập mật khẩu.</p>
                          </div>
                        </div>
                        <div class="text-center form-group">
                          <button type="submit" class="btn btn-default" style="width:550px;font-weight:bold"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</button>
                          &nbsp;  &nbsp;
                          <div class="text-center forgot-password">
                          <a ui-sref="password.forgot" style="margin-bottom:30px">Quên mật khẩu?</a>
                        </div>
                        <div style="margin-top:10px">
                          <a ui-sref="authentication.signup" >Chưa có tài khoản? <b style="color:#0bc464"> Đăng ký ngay</b></a>
                        </div>
                        
                        <alert type="danger" ng-show="error" class="text-center text-danger">
                          <span ng-bind="error" style="color: black"></span>
                        </alert>
                      </fieldset>
                    </form>
                 
            </div>
  </div>
  <div class="col-sm-3">
    
  </div>

</div>