
.about{
	background-color: #079696; 
	float: bottom;
}
.company-name{
 color: white;
 padding-left: 145px;


}
.company-infor {
   margin-top: 20px;
}
.company-infor a{
	color: white;
	margin-left: 30px;
}
