<style type="text/css">
   @font-face {
   font-family: 'Roboto-Regular';
   src: url('/modules/companies/client/css/RobotoTTF/Roboto-Regular.ttf');
   }
</style>
<section style="font-family: Roboto-Regular">
   <div class="container" style="overflow:hidden">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
         <h4 class="addcompany">Thêm công ty mới</h4>
         <h5 class="note-add-company" style="color:#0eaf5c">Bạn cần chắc chắn công ty bạn muốn thêm vào chưa có trong hệ thống chúng tôi.Hãy tìm kiếm lại công ty bạn đang cần đánh giá.</h5>
         <div class="abc" style="background-color:white;margin-bottom:20px">
            <form name="vm.form.companyForm" class="form-horizontal" ng-submit="vm.save(vm.form.companyForm.$valid)" novalidate>
               <fieldset ng-init="vm.init()">
                  <div class="row">
                     <div class="col-sm-1">
                     </div>
                     <div class="col-sm-10">
                        <div class="col-sm-5">
                           <div class="row">
                              <div class="form-group " show-errors>
                                 <h5 style="font-weight:bold;color:black">
                                 Tên công ty<span style="color:#f24141">(*)</span>:</h5 style="font-weight:bold;color:grey">
                                 <input type="text" class="form-control" ng-model="vm.company.name" name="name" placeholder="Tên công ty..." required>
                                 <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.name.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Hãy nhập tên công ty.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group">
                                 <h5 style="font-weight:bold;color:black">
                                 Tên gọi khác (Mỗi tên ngăn cách bởi dấu ','):</h5 style="font-weight:bold;color:grey">
                                 <input name="alias" class="form-control" ng-model="vm.company.alias" ng-list ng-change="vm.displayAlias()" placeholder="Tên gọi khác...">
                                 <div ng-repeat="alias in vm.alias">{{alias}} </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group">
                                 <h5 style="font-weight:bold;color:black">
                                 Liên hệ:</h5 style="font-weight:bold;color:grey">
                                 <input type="text" class="form-control" ng-model="vm.company.contact" placeholder="Liên hệ ..." name="contact">
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group" style="color:grey;font-size:13px">
                                 <h5 style="font-weight:bold;color:black">
                                 Quy mô nhân sự:</h5 style="font-weight:bold;color:grey">
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.personnelSize" value="Chưa rõ" name="personnelSize" ng-checked="true"> Chưa rõ thông tin</label> 
                                    </div>
                                    <div class="col-sm-6">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.personnelSize" value="Dưới 10 người" name="personnelSize"> Dưới 10 người</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <label class="" s>
                                       <input type="radio" ng-model="vm.company.personnelSize" value="Từ 10 - 50 người" name="personnelSize"> Từ 10 - 50 người</label>
                                    </div>
                                    <div class="col-sm-6">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.personnelSize" value="> Từ 50 - 100 người" name="personnelSize"> Từ 50 - 100 người</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.personnelSize" value="Từ 100 - 200 người" name="personnelSize"> Từ 100 - 200 người</label>
                                    </div>
                                    <div class="col-sm-6">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.personnelSize" value="Từ 200 - 300 người" name="personnelSize"> Từ 200 - 300 người</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.personnelSize" value="Trên 300 người" name="personnelSize"> Trên 300 người</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group" show-errors>
                                 <h5 style="font-weight:bold;color:black">
                                 Website công ty<span style="color:#f24141">(*)</span>:</h5 style="font-weight:bold;color:grey">
                                 <input type="url" name="website" class="form-control" ng-model="vm.company.website" placeholder="Website..." http-prefix required>
                                 <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.website.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Hãy website công ty.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group">
                                 <h5 style="font-weight:bold;color:black">
                                 Ảnh đại diện/logo công ty<span style="color:#f24141">(*)</span>:<span class="glyphicon glyphicon-camera btn-file" ng-hide="vm.uploader.queue.length" style="font-size:25px;margin-bottom:-5px;margin-left:5px">
                                 <input type="file" nv-file-select uploader="vm.uploader">
                                 </span></h5 style="font-weight:bold;color:grey">
                                 <!-- <input type="text" name="avatar" class="form-control" ng-model="vm.company.avatar" placeholder="Đường dẫn tới ảnh đại diện/logo..." name="avatar" required>
                                    <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.avatar.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Hãy nhập link ảnh đại diện.</p>
                                    </div> -->
                                 <!-- Nút chọn ảnh của avatar -->
                                 <!-- Nút tải lên và hủy sau khi chọn của avatar -->
                                 <!-- Cái này là preview avatar trc khi upload -->
                                 <div ng-show="(vm.avatarTemp)"><img ng-src="{{vm.avatarTemp}} " style="height:200px;width:220px;"></div>
                                 <div ng-show="vm.uploader.queue.length" style="margin-left:-16px">
                                 <span style="font-size:25px;margin-right:20px" class="glyphicon glyphicon-remove" ng-click="vm.cancelUpload()"></span>
                                 <span style="font-size:25px;"  class="glyphicon glyphicon-ok" ng-click="vm.uploadPicture()"></span >
                           </div>
                              </div>
                              <div ng-show="(vm.company.avatar)"><img ng-src="{{vm.company.avatar}} " style="height:200px;width:200px;margin-left:-16px;border:solid 1px;border-color:lightgrey"></div>
                           </div>
                           <div class="row">
                              <div class="form-group">
                                 <h5 style="font-weight:bold;color:black">
                                 Giới thiệu - mô tả về công ty:</h5 style="font-weight:bold;color:grey">
                                 <textarea class="form-control textarea-supplement" rows="4" ng-model="vm.company.description" name="description" placeholder="Mô tả..." style="background-color:white;overflow:hidden;color:black"></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-5">
                           <div class="row">
                              <div class="form-group">
                                 <h5 style="font-weight:bold;color:black">
                                 Năm thành lập:</h5 style="font-weight:bold;color:grey">
                                 <input style="background-color:white" type="text" class="form-control" datepicker-popup="yyyy" ng-model="vm.company.founded" is-open="vm.pickerOpened" datepicker-options="vm.dateOptions" ng-readonly="true" ng-focus="vm.openYearPicker($event)" ng-click="vm.openYearPicker($event)" show-button-bar="false" />
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group" show-errors>
                                 <h5 style="font-weight:bold;color:black">
                                 Ngành nghề chính của công ty<span style="color:#f24141">(*)</span>:</h5 style="font-weight:bold;color:grey">
                                 <input type="text" class="form-control" ng-model="vm.company.industry" placeholder="Ngành nghề chính của công ty..." name="industry" required>
                                 <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.industry.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Hãy nhập ngành nghề chính của công ty.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group" show-errors>
                                 <h5 style="font-weight:bold;color:black">
                                 Trụ sở chính<span style="color:#f24141">(*)</span>:</h5 style="font-weight:bold;color:grey">
                                 <input type="text" name="hq" class="form-control" ng-model="vm.company.hq" placeholder="Trụ sở chính của công ty..." required="">
                                 <div ng-messages="vm.form.companyForm.$submitted && vm.form.companyForm.hq.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Hãy nhập trụ sở công ty.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="row" style="color:#7f7f7f;">
                              <div class="form-group" style="font-size:13px">
                                 <h5 style="font-weight:bold;color:black">
                                 Loại hình công ty:</h5 style="font-weight:bold;color:grey">
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.companyType" value="Doanh nghiệp có vốn đầu tư nước ngoài" name="companyType"> Doanh nghiệp có vốn đầu tư nước ngoài</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.companyType" value="Công ty TNHH" name="companyType" ng-checked="true"> Công ty TNHH </label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.companyType" value="Doanh nghiệp tư nhân" name="companyType"> Doanh nghiệp tư nhân</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.companyType" value="Công ty cổ phần" name="companyType"> Công ty cổ phần</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.companyType" value="Công ty hợp danh" name="companyType"> Công ty hợp danh</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <label class="">
                                       <input type="radio" ng-model="vm.company.companyType" value="Doanh nghiệp nhà nước" name="companyType"> Doanh nghiệp nhà nước</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group">
                                 <h5 style="font-weight:bold;color:black">
                                 Ảnh giới thiệu công ty:  <span class="glyphicon glyphicon-camera btn-file" ng-hide="vm.photoUploader.queue.length" style="font-size:25px;margin-bottom:-5px">
                                 <input type="file" nv-file-select uploader="vm.photoUploader">
                                 </span></h5 style="font-weight:bold;color:grey">
                                 <h6 style="color:green">Bạn có thể thêm nhiều ảnh về công ty.</h6>
                                 <!-- <input type="text" placeholder="Nhập đường dẫn ảnh..." data-placement="bottom" ng-model="vm.introducePhoto" style="border:solid 1px;border-color:lightgrey">
                                    <button style="background-color:#0eaf5c;color:white" type="button" ng-click="vm.addPhoto()">Thêm ảnh</button> -->
                                 <!-- Nút chọn ảnh của ảnh giới thiệu -->
                                 <!-- Nút tải lên và hủy sau khi chọn của ảnh giới thiệu -->
                                 <!-- Cái này là preview ảnh giới thiệu trc khi upload -->
                                 <div ng-show="(vm.photoTemp)"><img ng-src="{{vm.photoTemp}} " style="height:80px;width:100px"></div>
                                 <div ng-show="vm.photoUploader.queue.length">
                                    <span style="font-size:25px;margin-right:20px" class="glyphicon glyphicon-remove" ng-click="vm.cancelPhotoUploader()"></span>
                                    <span style="font-size:25px;" class="glyphicon glyphicon-ok" ng-click="vm.uploadPhoto()"></span>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-4" ng-repeat="photo in vm.company.photo" style="">
                                       <div>
                                          <img ng-src="{{photo}}"    style="width:100px;height:80px;border:solid 1px;border-color:lightgrey;">
                                          <button type="button" ng-click="vm.deletePhoto($index)" style="background-color:#f24141;color:white">Xóa</button>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Thông báo upload ảnh thành công hay lỗi (dùng cho cả 2 nút) -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-1">
                     </div>
                  </div>
                  <strong style="margin-left:50px;color:#079696;font-size:13px" ng-show="vm.progress">{{vm.progress}}</strong>
                  <div class="row">
                     <hr class="text-left">
                  </div>
                  <div class="row" style="margin-bottom:20px">
                     <div class="col-sm-8">
                        <strong ng-bind="vm.error" class="error-company" style="color: red"></strong>
                     </div>
                     <div class="col-sm-4">
                        <div class="col-sm-12">
                           <button type="button" ng-click="vm.back()" class="btn btn-info button-cancelcompany">Trở lại</button>
                           <button style="margin-left:10px" type="submit" class="btn btn-primary button-sendcompany"> Tạo công ty</button>
                        </div>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
      <div class="col-sm-2">
      </div>
   </div>
   <div id='bttop'>TRỞ VỀ ĐẦU TRANG</div>
</section>
<script >
   $(function() {
    $(window).scroll(function() {
    if ($(this).scrollTop() != 0) {
    $('#bttop').fadeIn();
    } else {
    $('#bttop').fadeOut();
    }
    });
    $('#bttop').click(function() {
    $('body,html').animate({
    scrollTop: 0
    }, 800);
    });
   });
</script>