<a ui-sref="companies.review({companyId: companyId, reviewId: review._id})">
    <div class="row" >
        <div class="col-sm-1 review-detail-left">
            <div class="row">
                <h6 class=" date-review" data-ng-bind="review.lastUpdated | date:'mediumDate'"></h6>
            </div>
            <div class="row">
                <img ng-src="{{review.userID.profileImageURL? review.userID.profileImageURL : 'modules/users/client/img/profile/default.png'}}" class="content-avatar-review">
            </div>
            <div class="row">
                <h5 ng-show="review.userID.name && !review.stayAnonymous" data-ng-bind="review.userID.name" class="review-user"></h5>
                <h5 ng-hide="review.userID.name && !review.stayAnonymous" class="review-user">Anonymouse</h5>
            </div>
        </div>
        <div class="col-sm-6 review-detail-right">
            <h4 class="text-left title-review" data-ng-bind="review.title" ng-class="{highlightReview: review.highlight}"></h4>
            <h5 class="text-left " style="color:grey">"<span data-ng-bind="review.overallRev.pros"></span>..." </h5>
            <h5 style="color:grey;font-weight:bold">Vị trí công việc</h5>
            <h5 style="color:grey" class="text-left ">- <span ng-repeat="job in review.job">{{job}}</span> </h5>
            <h5 style="color:grey;font-weight:bold">Hiện đang làm việc</h5>
            <h5 class="text-left" style="color:grey"><span ng-hide="(review.isJobCurrent)" > Đã từng làm việc</span><span ng-show="(review.isJobCurrent)"> </span>- <span data-ng-bind="review.jobLength"></span></h5>
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <div class="row">
                    <fieldset class="rating" style="margin-left:50px;margin-top:30px;font-size:33px">
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="5" />
                        <label class="full" for="star5" title="Tốt"></label>
                        
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="4" />
                        <label class="full" for="star4" title="Khá tốt"></label>
                        
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="3" />
                        <label class="full" for="star3" title="Bình thường"></label>
                        
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="2" />
                        <label class="full" for="star2" title="kém"></label>
                        
                        <input type="radio" name="{{review._id}}" ng-model="review.overallRev.rating" value="1" />
                        <label class="full" for="star1" title="Tệ hại"></label>
                        
                        <c style="color:#079696;">{{review.overallRev.rating}}/5</c>
                    </fieldset>
                </div>
                <h5 style="margin-left:60px;color:grey"><b style="color:red; font-weight: bold; ">{{review.upvoteUsers.length}}</b> Lượt ủng hộ</h5>
            </div>
        </div>
    </div>
</a>
