<div class="container">
   <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 " style="margin-top:30px" >
       <!--   <h3 style="font-weight:bold;margin-left:-15px">Chi tiết đánh giá</h3> -->
         <div class="row" style="border:solid 1px;border-color:lightgrey;background-color:#3b5998;height:150px; box-shadow: 0 3px 0 0 lightgrey">
            <div class="col-sm-8">
              <img src="{{vm.company.avatar}}" alt="avatar" class="pull-left content-avatar" >
            <h3 class="text-reason" style="color:white">{{ vm.company.name }}</h3>
            <p style="color:white;font-weight:bold;margin-top:125px;margin-left:10px">Số người theo dõi: {{ vm.company.followers.length }}</p>
            </div>
            <div class="col-sm-4">
               
            <button type="button" ui-sref="companies.createReview({companyId: vm.company._id})" class="btn btn-success btn-review" style="width:220px" > Đánh giá ngay </button>
            </div>
         </div>
         <div class="row">
            <div class="row" ng-init="vm.viewInit()">
               <div class="other">
                  <div class="row">
                     <h3 class="rating-review-all" style="color:green;margin-left:35px" >Đánh giá công ty {{ vm.company.name }}  </h3>
                  </div>
                  <div class="row">
                      <fieldset class="rating" style="margin-left:230px">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
               
            </fieldset>
                     <a class="rating-detail-caros" data-toggle="modal" data-target="#myModal">
                        <h4 style="margin-left:550px;margin-top:30px"><span class="glyphicon glyphicon-list"></span> Của {{filteredReviews.length}} bài đánh giá</h4>
                     </a>
                     <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-nm">
                           <div class="modal-content" style="margin-top:200px;border:solid 1px;border-color:lightgrey">
                              <h3 class="text-center" style="color:black;"> Xếp hạng {{ vm.company.name }} </h3>
                              <div class="rating-detail">
                                 <h4>{{vm.company.point | number:1}}</h4>
                                 <div ng-repeat="point in [1, 2, 3, 4, 5]">
                                    <h4 style="margin-left:20px;color:#119e9e">{{point}} Starts: {{vm.count[point-1]}}</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row tabs-overview" style="margin-left:-15px;margin-right:-15px">
            <div class="row">
               <h3 class="pull-left text-company-overview" style="color:green">Thông tin công ty:</h3>
               <a class="pull-right fix-company" ng-click="vm.editCompany()">Sửa thông tin</a>
            </div>
            <div class="row text-company-overview-detail" >
               <div class="col-sm-3 text-company-overview-left">
                  <div class="row">
                     <h4 class="pull-left text-label">Tên công ty: </h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-label">Website: </h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-label">Tên gọi khác: </h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-label">Loại hình công ty: </h4>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="row">
                     <h4 class="text-labels"  data-ng-bind="vm.company.name"></h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-labels" data-ng-bind="vm.company.website"></h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-labels" data-ng-bind="vm.company.industry"></h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-labels" data-ng-bind="vm.company.companyType"></h4>
                  </div>
               </div>
               <div class="col-sm-1">
               </div>
               <div class="col-sm-2 text-company-overview-right">
                  <div class="row">
                     <h4 class="pull-left text-label">Năm thành lập: </h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-label">Quy mô nhân sự: </h4>
                  </div>
                  <div class="row">
                     <h4 class="pull-left text-label">Trụ sở chính: </h4>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="row">
                     <h4 class="text-labels">{{vm.company.founded | date: 'yyyy'}}</h4>
                  </div>
                  <div class="row">
                     <h4 class="text-labels"  data-ng-bind="vm.company.personnelSize"></h4>
                  </div>
                  <div class="row">
                     <h4 class="text-labels" data-ng-bind="vm.company.hq"></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="row review-detail-center">
           <div class="row">
           <!--   <img class="pull-right" src="modules/companies/client/img/highline.png" ng-show="vm.company.reviews.highlight" style="width: 30px;height:30px;margin-right:20px">  -->

           <p class="pull-right highline" ng-show="vm.company.reviews.highlight" data-toggle="tooltip" data-placement="bottom" title="Nổi bật"></p>
           </div>
            <div class="col-sm-2">
               <div class="row">
                  <!--    <h5 class="text-left" data-ng-bind="vm.review.lastUpdated | date:'mediumDate'"></h5> -->

               </div>
               <div class="row">
               <img ng-src="{{vm.company.reviews.userID.profileImageURL? review.userID.profileImageURL : 'modules/users/client/img/profile/default.png'}}" alt="avatar" class="content-avatar-review-detail">
               <a ui-sref="user({userId: vm.company.reviews.userID._id})" ng-show="vm.company.reviews.userID.name && !vm.company.reviews.stayAnonymous">
                  <h5 style="margin-left:15px;font-weight:bold;color:green" data-ng-bind="vm.company.reviews.userID.name"></h5>
                  </a>
                  <h5 ng-hide="vm.company.reviews.userID.name && !vm.company.reviews.stayAnonymous">Anonymouse</h5>
                 <!--   <img src="http://pabook2.libraries.psu.edu/palitmap/H4CLogo.jpg" style="width: 300px"> -->
               </div>
            </div>
            <div class="col-sm-10" style="margin-top:30px;">
               
               <div class="pull-right row">
                   
                  <button  class="pull-right  button-reports rotate360"  type="button" style="background-color:green" data-toggle="tooltip" data-placement="bottom" title="Ủng hộ"> ({{vm.company.reviews.upvoteUsers.length}}) </button>
                  <div id="modalUpvote" ng-show="vm.authentication.user" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title" ng-hide="vm.checkIfUpvoted()">Ủng Hộ</h4>
                              <h4 class="modal-title" ng-show="vm.checkIfUpvoted()">Bỏ Ủng Hộ</h4>
                           </div>
                           <div class="modal-body">
                              <p ng-hide="vm.checkIfUpvoted()">Bạn có muốn ủng hộ bài đánh giá này?</p>
                              <p ng-show="vm.checkIfUpvoted()">Bạn có muốn bỏ ủng hộ bài đánh giá này?</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default cancel-follow" data-dismiss="modal">Hủy</button>
                              <button type="button" class="btn btn-primary accept-follow" data-dismiss="modal" ng-click="vm.upvote()">Xác nhận</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <h3 class="review-detail-title" data-ng-bind="vm.company.reviews.title"></h3>
               </div>
               <div class="row">
                  <h4 class="text-left review-detail">Vị trí công việc:</h4>
                  <h5 class="text-left review-details
                     " data-ng-bind="vm.company.reviews.job"></h5>
               </div>
               <div class="row">
                  <h4 class="text-left review-detail">Thời gian làm việc tại vị trí trên::</h4>
                  <h5 class="text-left review-details" data-ng-bind="vm.company.reviews.jobLength"></h5>
               </div>
               <div class="row">
                  <h4 class="text-left review-detail">Kiểu hợp đồng:</h4>
                  <h5 class="text-left review-details" data-ng-bind="vm.company.reviews.contract"></h5>
               </div>
               <div class="row">
                  <h4 class="text-left review-detail">Ưu điểm: </h4>
                  <h5 class="text-left review-details" data-ng-bind="vm.company.reviews.overallRev.pros"></h5>
               </div>
               <div class="row">
                  <h4 class="text-left review-detail">Nhược điểm:</h4>
                  <h5 class="text-left review-details" data-ng-bind="vm.company.reviews.overallRev.cons"></h5>
               </div>
               <div class="row">
                  <h4 class="text-left review-detail">Nội dung:</h4>
                  <h5 class="text-left review-details" data-ng-bind="vm.company.reviews.overallRev.supplement"></h5>
               </div>
               <div class="row">
                  <div class="row">
                     <button type="button" ng-show="vm.authentication.user" class="button-vote" data-toggle="modal" data-target="#modalUpvote"><span class="glyphicon glyphicon-pushpin" style=""></span><span ng-hide="vm.checkIfUpvoted()"> Ủng Hộ</span><span ng-show="vm.checkIfUpvoted()"> Bỏ ủng hộ</span></button>
                     <button type="button" ng-show="(vm.authentication.user.roles.indexOf('mod')>0)" class="button-votes" ng-click="vm.highlight()"><span class="glyphicon glyphicon-tower" style=""></span><span ng-hide="vm.company.reviews.highlight"> Đánh giá nổi bật</span><span ng-show="vm.company.reviews.highlight"> Bỏ Đánh giá nổi bật</span></button>
                     <button type="button" ng-show="vm.authentication.user && (vm.authentication.user._id != vm.company.reviews.userID._id)" class="button-bookmark" ng-click="vm.bookmark()"><span class="glyphicon glyphicon-bookmark"></span><span ng-hide="vm.checkIfBookmarked()"> Dấu trang</span><span ng-show="vm.checkIfBookmarked()">  Bỏ lưu dấu trang</span></button>
                     <button  class="pull-right button-report " style="margin-bottom:15px" type="button" data-toggle="modal" data-target="#baocaoModal" ><span class="glyphicon glyphicon-flag"  ></span> </button>
                     <div id="baocaoModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title" style="color:red">Báo cáo vi phạm</h4>
                              </div>
                              <div class="modal-body">
                                 <div class="form-group">
                                    <label for="message-text" class="control-label">
                                       <h5>Bạn có chắc chắn muốn báo cáo vị phạm bài đánh giá này, hãy chắc chắn với nhưng điều đó trước khi gửi báo cáo cho chúng tôi.</h5>
                                    </label>
                                    <textarea class="form-control" rows="5" style="border:solid 1px;border-color:#bfbbbb" id="message-text" ng-model="vm.report.content"></textarea>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                 <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.sendReport()">Hoàn thành</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row star-overall-review">
            <div class="col-sm-12">
               <h3 for="comment" class="text-left">Bình luận về bài đánh giá này:</h3>
               <h5 style="color:green;s">Xin vui lòng hãy dùng từ ngữ lịch sự khi sử dụng tính năng bình luận.</h5>
               <div class="review-detail-comment">
                  <div ng-show="vm.authentication.user">
                     <div id=cmtSection>
                        <form>
                           <div class="form-group textarea-cmt">
                              <textarea name="comment" ng-trim="true" ng-model="vm.newComment" class="form-control textarea-cmt-inside" rows="3" style="border:solid 1px;border-color:#cccccc;" placeholder="Nhập bình luận..."></textarea>
                              <h5 class="review-cmt-note" style="font-weight:bold">*Bình luận chỉ từ 10 đến 600 ký tự.</h5>
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary btn-send" ng-click="vm.postComment(vm.newComment)" style="font-weight:bold">Gửi bình luận</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <h3 class="comment-show">Danh sách bình luận:</h3>
               <div class="comment-list" ng-init="vm.initCmt()">
                  <div ng-repeat="comment in vm.company.reviews.comments | orderBy:'-postTime'" ng-include="'modules/companies/client/views/panel-comment.client.view.html'"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3 " style="margin-left:20px">
         <div class="row">
         </div>
      </div>
   </div>
</div>
<!-- <%- include('components/commentSection.html', {review: reviews}); %> -->
<script>
   $(document).ready(function() {
       $('[data-toggle="tooltip"]').tooltip();
   });
</script>
